// Core variables and mixins
@import (reference)  "../../responsive/css/variables.less";
@import (reference)  "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

#header-container{
  background: none;
}
//span.browse-label-text {
//  color: @aims-black;
//  background:#FFF;
//}
//
//#browse-label {
//  background: @aims-black;
//}
//.browse-category.selected {
//  border-color: @aims-black;
//  border-width: 1px;
//}
//#home-page-browse-header {
//  background: #fff;
//}

#horizontal-search-box {
  background-color: @aims-black;
  padding: 15px 0;
}

.btn, .btn-sm {
  border-radius: 0;
}

// Browse Category customizations based on AnyThink


#browse-label(@browse-label-text-color);


.browse-category(@selectedCategoryColor);

#anythink-browse-category-picker(@browseCarouselControlColor, @selectedCategoryColor, @content-bg);

#anythink-selected-browse-label(@browse-label-text-color);

#browse-sub-category-menu {
  button.selected {
    background-color: @selectedCategoryColor;
  }
}
