//Variables Customizations for Tread of Pioneers Museum theme
@aims-red: #8a4e12;
@aims-black:#660000;

@menu-bar-background-color: @aims-black;
@menu-bar-selected-background-color: @aims-red;

//@header-height: 114px;
@header-bottom-border-color: #ffffff; //Bottom color for background gradient in header

@home-search-top-color: @aims-black;
@home-search-bottom-color : @aims-black;

@accordion-active-header-backgroundcolor: @aims-black;

@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @aims-black;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @aims-red;
@category1MainColor: @aims-black;
@categoryLineColor: none;
@categoryLineShadow: none;


// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category1MainColor: #ffffff;
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@browse-label-text-color: #000;
@browse-category-text-color: #000;
@selected-browse-label-search-color: #000;
@browse-category-font-size: 30px;


// Primary Button Color
@btn-primary-bg: @aims-black;