//Variables Customizations for Tread of Pioneers Museum theme

@tread-black: #000;
@tread-navy-blue: #1d2b48;
@tread-yellow: #c4ae49;

@menu-bar-background-color: @tread-black;
@menu-bar-selected-background-color: @tread-yellow;
@menu-bar-selected-color: @tread-black;

//@header-height: 114px;
@header-bottom-border-color: #fff; //Bottom color for background gradient in header

@home-search-top-color: @tread-black;
@home-search-bottom-color: @tread-black;

@accordion-active-header-bg-color: @tread-yellow;
@accordion-active-header-color: @tread-black;
@accordion-active-header-shadow-color: @tread-yellow;

@categoryLineColor: #fff;
@categoryLineShadow: #fff;
@selectedCategoryBorderColor: #fff;

@browseCarouselControlBackgroundColor: #fff;
@browseCarouselControlColor: @tread-black;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @tread-navy-blue;
@category1MainColor: #fff;
@categoryLineColor: none;
@categoryLineShadow: none;

@browse-label-text-color: #000;
@browse-category-text-color: #000;
@selected-browse-label-search-color: #000;
@browse-category-font-size: 30px;


// Primary Button Color
@btn-primary-bg: @tread-black;

// Archive Things
@explore-more-sidebar-bg-color: @tread-yellow;