//Variables Customizations for Tread of Pioneers Museum theme
@aims-red: #8a4e12;
@tread-black:#000;
@aims-black:@tread-black;
@tread-navy-blue:#1d2b48;
@tread-yellow:#c4ae49;

@menu-bar-background-color: @aims-black;
@menu-bar-selected-background-color: @tread-yellow;

//@header-height: 114px;
@header-bottom-border-color: #ffffff; //Bottom color for background gradient in header

@home-search-top-color: @aims-black;
@home-search-bottom-color : @aims-black;

@accordion-active-header-bg-color: @tread-yellow;

@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @aims-black;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @tread-navy-blue;
@category1MainColor: #ffffff;
@categoryLineColor: none;
@categoryLineShadow: none;

@browse-label-text-color: #000;
@browse-category-text-color: #000;
@selected-browse-label-search-color: #000;
@browse-category-font-size: 30px;


// Primary Button Color
@btn-primary-bg: @aims-black;

// Archive Things
@explore-more-sidebar-bg-color:@tread-yellow;