// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

.header-login-button-mixin(@header-buttons-background-color);

#header-logo {
  padding-top: 0;
  height: @header-logo-height;
}

// Browse Category customizations based on AnyThink


#browse-label {
  background-color: #ffffff;
  border-bottom: 1px solid @lion-dark-blue;
  margin: 25px 0 15px;
  height: auto;
  padding-bottom: 20px;
  .browse-label-text{
    font-weight: 600;
  }
}

.browse-category(@selectedCategoryColor, @coe-text-red);

#anythink-browse-category-picker(@browseCarouselControlColor, @selectedCategoryColor, @content-bg);

#selected-browse-label {
  color: black; //TODO: set color
  background: none; //override line through label
  padding: 20px 0;
  border-top: 1px solid @lion-dark-blue;
}

.selected-browse-label-search {
  background: none;
}

#selected-browse-search-link{
  text-transform: uppercase;
}


// MIXIN: Vertically Align cover images with the thumbnail block; up to a maximum size.  Thumbnail blocks will have a
// uniform height and fall into columns evenly.
.verticalAlignThumbnailArt();