// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

.header-login-button-mixin();
a .header-button {
  &:hover {
    background-color: rgba(51, 51, 51, .8); // make slightly more opaque on hover
  }
}
a:visited .header-button {
  color: #fff !important;
}


/// Library CSS Overrides

//#browse-sub-category-menu button {
//  background-color: #FFF;
//}

.breadcrumb {
  border-radius: 4px;
  list-style: none outside none;
  //margin-bottom: 20px;  // Likely not needed given the addition of the h1 for search results
  padding: 8px 15px;
  font-size: 14px;
}

#horizontal-search-box {
  //background: @mesaSearchBoxBlue;
  padding: 9px 0;
}

#header-logo {
  padding: 0 10px 0 0;
}

#header-links {
  margin-bottom: 15px;
}

.header-link-wrapper a {
  font-size: 18px;
  color: @mesaSearchBoxBlue;
}

// browse carousel //
#browse-category-picker .jcarousel-control-prev, #browse-category-picker .jcarousel-control-next {
  background-color: rgba(0, 0, 0, 0);
  color: @mesaCarouselDarkGray;
  font-size: 75px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0);
  text-shadow: none;
}


.jcarousel-pagination a {
  color: @mesaCarouselDarkGray;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 2px @mesaCarouselDarkGray;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  margin-right: 7px;
  text-decoration: none;
  text-indent: -9999px;
  height: 10px;
  width: 10px;

  & a.active {
    background: @mesaCarouselDarkGray;
    box-shadow: 0 0 2px @mesaCarouselDarkGray;
    color: #fff;
    opacity: 1;
  }
}

//.browse-category div {
.browse-category button {
  //color: @mesaCarouselDarkGray;
  text-shadow: none;
//  display: table-cell;
  line-height: 1;
  vertical-align: middle;

//  center vertically & horizontally category titles within the carousel //
  height: auto; // overwrite height: 80px
  display: block; // looks like display:flex works too.
  margin-left: auto;
  margin-right: auto;
}

.jcarousel li {
  display: flex;
  align-items: center;
}

#more-browse-results {
  border: 1px solid #c7c9ca;
}

#browse-category-carousel .browse-category.selected {
  border: 2px solid #BBD4E3;
}

 // Search Sidebar //

#home-page-login {
  text-shadow: none;
  margin-top: 25px;

  a {
    font-size: 110%;
  }
}

.sidebar-button {
  font-weight: bold;
  margin-bottom: 0;
}

#home-page-library-section {
  background-color: #FFF;
  height: 100%;
  padding: 15px 0;
}

#home-page-hours-locations {
  margin-bottom: 1px;
}

#home-page-search-label {
  text-shadow: none;
}


#searchSource {
  background-color: @mesaSearchBoxBlue;
  border: medium none;
  color: #FFF;
  padding: 5px 0;
  width: 90%;
}

//.sidebar-links .active .panel-heading,
//#home-page-hours-locations,
//#similar-authors-label,
.sidebar-links .panel-heading,
//#narrow-search-label,
//#remove-search-label,
//#results-sort-label,
.exploreMoreTitle
{
  background: @mesaSearchBoxBlue;
  border: none;
}

#explore-more-header {
  font-variant: none;
}

.sidebar-links .active .panel-title,
.sidebar-links .panel-title,
.sidebar-label,
#results-sort-label,
#home-page-hours-locations
{
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
}

.sidebar-links .panel-body {
  background-color: #FFF;
  color: @mesaSearchBoxBlue;
  font-size: 15px;
}

.sidebar-links .panel-heading {
  border-bottom: medium none;
  padding: 5px 15px;
}

.sidebar-links .panel-body a:hover:not(.btn),
.sidebar-links .panel-body a:not(.btn),
.sidebar-links .panel-body a:visited:not(.btn) {
  color: @mesaSearchBoxBlue;
}

// Library admin panels
.panel-default .panel-title {
  // Make inactive panel text default text color
  color: rgb(51,51,51);
}
.panel-default.active .panel-title {
  // Make inactive panel text default text color
  color: #fff;
}
.hideMenuHr;

.facetValue {
  color: @mesaCarouselDarkGray;
  font-size: 14px;
  padding: 0 0 0 30px;
}

.facetTitle {
  border-bottom: none;
  text-shadow: none;
}


// Item Page //

#more-details-accordion .panel-body {
  background-color: #FFF;
  color: #6B6B6B;
  font-size: 14px;
}

#more-details-accordion .panel-title {
  color: #FFF;
  font-size: 16px;
  text-shadow: none;
}

//#more-details-accordion .active .panel-title {
//  text-shadow: none;
//}
//
//#more-details-accordion .panel-heading {
//  background: @mesaSearchBoxBlue;
//}
//
//#more-details-accordion .active .panel-heading {
//  background: @mesaSearchBoxBlue;
//}

#list-morelikethis.titleScroller, #list-series.titleScroller {
  border: medium none;
}

.scrollerTitle.selected {
  border: 3px solid @mesaSearchBoxBlue;
}

.exploreMoreBar.row {
  border: none;
  border-bottom: 2px solid #d5d6da;
  #exploreMoreBarScroll .jcarousel-control-prev, #exploreMoreBarScroll .jcarousel-control-next {
    border: none;

    i.glyphicon-chevron-left, i.glyphicon-chevron-right {
      top: -20px;
    }
  }
}

.sidebar-links .panel-body {
  color: #333333;
  background-color: transparent;
  border:none;
}

search#horizontal-search-wrapper {
  padding-top: 10px;
}

.facetDetails{
  border: none;
}