//Variables Customizations for Mesa County Public Library theme

@mesaBlue: #004A8D;
@mesaSearchBoxBlue: #336fa3;
@mesaCarouselDarkGray: #575757;

@header-bg-color: #fff;
@header-bottom-border-width: 0;
@header-bottom-border-color: #fff;
@footer-top-border-color: @mesaBlue;

@breadcrumb-bg: #fff;

// Search Box
@home-search-top-color: @mesaSearchBoxBlue;
@home-search-bottom-color: @mesaSearchBoxBlue;


@sidebar-button-bg-color: @mesaSearchBoxBlue;
@menu-bar-background-color: @mesaSearchBoxBlue;


// Search Results
@facetTitle-bg-color: #fff;
@facetTitle-color: #014C8D;