//Variables Customizations for Mesa County Public Library theme

@mesaBlue: #004A8D;
@mesaSearchBoxBlue: #336fa3;
@mesaCarouselDarkGray: #575757;

// Buttons
@btn-primary-color: #fff;
@btn-primary-bg: @mesaSearchBoxBlue;

// Header
@header-bg-color: #fff;
@header-bottom-border-width: 0;
@header-bottom-border-color: #fff;
@footer-top-border-color: @mesaSearchBoxBlue;

@breadcrumb-bg: #fff;

// Search Box
@home-search-top-color: @mesaSearchBoxBlue;
@home-search-bottom-color: @mesaSearchBoxBlue;

// Sidebar
@home-page-login-background-color: #fff;
@home-page-login-color: @mesaCarouselDarkGray;
@sidebar-button-bg-color: @mesaSearchBoxBlue;
@sidebar-label-background-color: @mesaSearchBoxBlue;
@menu-bar-background-color: @mesaSearchBoxBlue;
@menu-bar-selected-background-color: @mesaBlue;

// Browse categories
@browse-label-text-color: @mesaCarouselDarkGray;
@browse-header-background-color: #fff;  // Remove background line
@category1MainColor: #fff;
@browse-category-text-color: @mesaCarouselDarkGray;
@selectedSubCategoryBackgroundColor: @mesaSearchBoxBlue;
@more-browse-results-backgroundcolor: #fff;

// Search Results
@facetTitle-bg-color: #fff;
@facetTitle-color: #014C8D;
//@facetTitle-bg-color: @mesaSearchBoxBlue;
//@facetTitle-color: #fff;

// Accordions
@panel-border-radius: 0;
@accordion-header-bg-color: @mesaSearchBoxBlue;
@accordion-active-header-bg-color: @mesaSearchBoxBlue;
@accordion-header-color: #fff;
@accordion-active-header-color: #fff;
@accordion-header-shadow: none;
@accordion-active-header-shadow: none;
@accordion-header-border-color: @mesaSearchBoxBlue;


// Archive
@explore-more-sidebar-body-bg-color: #fff;