// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

.header-login-button-mixin(@header-buttons-background-color);
//#header-container {
//  //background: linear-gradient(to bottom, #E2E3E5, #E2E3E5 73%, #D4D5D9 73%, #D4D5D9); // grandient to match logo
//  background: linear-gradient(to bottom, #E2E3E5, #E2E3E5 104px, #D4D5D9 104px, #D4D5D9);
//}
#header-logo {
  //padding-top: 0;
  padding: 0;
  height: @header-logo-height;
}

// Browse Category customizations based on AnyThink


#browse-label(@browse-label-text-color);


// the category text
.browse-category {
  padding-top: 20px; // extra padding on top to center text
  height: 120px;

  div {
    //color: @browse-label-text-color;
    text-shadow: none;
    text-transform: uppercase;
    font-size: large;
    font-weight: 500;
    &:focus {
      outline: none; // hide outlining of clicked category
    }
  }
  &.selected {
    border: none;
    background-color: @selectedCategoryColor;
    background: @selectedCategoryColor;
    background: linear-gradient(to bottom, @selectedCategoryColor 0%, @selectedCategoryColor 75%, #fff 75%, #fff 80%, #CCCCCC 80%, #fff 100%);
    div {
      color: #000; // different from mixin
    }
  }
}

#browse-sub-category-menu {
  button.selected {
    background-color: @selectedCategoryColor;
  }
}

#anythink-browse-category-picker(@browseCarouselControlColor, @selectedCategoryColor, @content-bg);

#anythink-selected-browse-label(@browse-label-text-color);



// MIXIN: Vertically Align cover images with the thumbnail block; up to a maximum size.  Thumbnail blocks will have a
// uniform height and fall into columns evenly.
.verticalAlignThumbnailArt();