//@import (reference) "bootstrap/less/variables.less";
@import (reference) "variables.less";

#myFinesAlert {
  color: @accessible-red;
  font-weight: bold;
}

// Account Settings formatting //
#account-settings-accordion {

  .panel-body {
    font-size: 13px;
    color: @gray-dark;
    //background-color: #eeeeee;
    //background-color: transparent;
    border: 1px solid #c5c5c5;
  }
}

// Used on Checked Out Page
.bg-overdue {
  background-color: @state-danger-bg !important; // important is needed to override .striped on checked out page
  // (@body-text-color is now set to #656565) color: darken(@body-text-color, 2.5%); // https://webaim.org/resources/contrastchecker/?fcolor=656565&bcolor=F2DEDE
  a.result-title, // Title link
  .result-value > a // Author link
  {
    color: @darkened-link-color-resp
  }
}

.overdueLabel {
  color: @overdue-status-color;
  font-weight: bold;
}

.dueSoonLabel {
  color: @dueSoon-status-color;
  font-weight: bold;
}

.holdDisclaimerLibrary {
  font-weight: bold;
}

#mobileHeader {
  .myAccountLink {
    font-weight: bold;
    font-size: 18px;
  }
}

// Account Profile

// make Receive Notices Toggle match color scheming of bootstrap switches
//#contactUpdateForm .btn-group .btn-default.active {
#contactUpdateForm, #overdrive-lending-options {
  .btn-group .btn-default {
    &:has(input[type="radio"]:checked) {
      background-color: @btn-primary-bg;
      //.box-shadow(none);
      color: @btn-primary-color;
    }

    &:focus-within {
      border: 1px solid @focus-ring-color;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(225, 95, 21, 0.7);
    }
  }
}