@import (reference) "bootstrap/less/glyphicons.less";
@import (reference) "variables.less";

//
// Styling for home page elements
//

// Side-bar Search Box
#home-page-search {
  background-color: @home-search-top-color;
  background: linear-gradient(to bottom, @home-search-top-color, @home-search-bottom-color);
  padding: 20px 0 10px;
  margin-bottom: 5px;
}

#home-page-search-label {
  font-size: 35px;
  color: @home-search-label-color;
  text-shadow: 1px 1px @gray-light;
}

#home-page-advanced-search-link {
  color: @home-search-label-color;
}

// Hide the Place Holder text on the search box by default for
.placeholder-mixin() {
  font-size: 0; // zero out the text as a fail safe
  color: transparent;
  text-shadow: none;
  border: 0;
}

// Must keep selectors separate because if the browser does not
// recognize one of the selectors, it will dispose of the ruleset.
#lookfor:-ms-input-placeholder{.placeholder-mixin;}
#lookfor::-webkit-input-placeholder{.placeholder-mixin;}
#lookfor:-moz-placeholder{.placeholder-mixin;}
#lookfor::-moz-placeholder{.placeholder-mixin;}
#lookfor::placeholder {.placeholder-mixin;}

.searchTypeHome, .searchSource {
  margin: 5px 0 0;
  color: #fff;
  background-color: @home-search-bottom-color;
  border: none;
  width: 90% !important;
}

#keepFiltersSwitchLabel, #advancedSearchLink {
  color: @home-search-label-color;
  font-weight: normal;
  font-size: 85%;
}

// Horizontal Search Box Styling
#horizontal-search-box {
  background-color: @home-search-top-color;
  background: linear-gradient(to bottom, @home-search-top-color, @home-search-bottom-color);
  padding: 15px 0;

  #searchForm {
    .row {
      // undo margin-adjusting for this row.
      margin-left: 0;
      margin-right: 0;

      & > div {
        margin-top: 4px; // provides vertical spacing between inputs for smaller screen widths.
      }
    }

    #horizontal-search-button-container {
      margin-top: 4px; // provides vertical spacing between inputs for smaller screen widths.
      padding-left: 0; // remove gap between button and input box on the right.
      & > div.row {
        padding-left: 0;
        margin-top: 0;

        & > div {
          margin-top: 0; // !important;
        }
      }

      @media (max-width: @screen-sm-min) {
        padding-left: 4px;
      }
    }
  }

  div {
    padding-left: 4px;
    padding-right: 0;
    @media (max-width: @screen-sm-min) {
      padding-left: 1px;
      padding-right: 1px;
    }
  }

  #horizontal-search-label {
    color: @horizontal-search-label-color;
  }

  //#lookfor {
  //  height: 34px;
  //}

  .searchSourceHorizontal,
  .searchTypeHorizontal {
    width: 100%;
    margin: 0 0;
    border: none;
    border-radius: 0;
  }

  #keepFiltersSwitchLabel {
    margin-bottom: 0;
  }
}

#home-page-login {
  background-color: @home-page-login-background-color;
  color: @home-page-login-color;
  font-size: 18px;
  //text-shadow: 1px 1px @gray-light;
  padding: 5px;
  margin-bottom: 5px;

  a {
    color: @home-page-login-color;
  }

  #horizontal-search-wrapper + #content-container & {
    margin-top: 5px; // Add some space between horizontal spacing
  }
}

#home-page-library-section {
  padding: 15px 0;
  > a { // TODO: in template, put a tags within the current child div tags
    &, &:visited, &:hover {
      color: #fff;
    }
  }

}

.sidebar-button {
  text-align: center;
  color: @sidebar-button-color;
  background-color: @sidebar-button-bg-color;
  padding: 7px 0;
  margin-bottom: 15px;
}

.sidebar-button-mixin() {
  .sidebar-button {
    padding: 5px 15px;
    background-color: @accordion-header-bg-color;
    background: linear-gradient(to bottom, @accordion-header-top-gradient-color, @accordion-header-bottom-gradient-color);
    color: #fff;
    margin-bottom: 15px;
    border-radius: 4px;
  }
}

.sacramento-sidebar-button(@color: #333, @background: #f0efef){
  .sidebar-button {
    color: @color;
    background: @background;
    padding: 5px 15px;
    border-bottom: 1px solid #a1a1a1;
    text-shadow: 1px 1px #fff;
    font-size: 16px;
    text-align: left;
  }
}
#home-page-hours-locations, #home-page-home-button {
  text-transform: uppercase;
}

// Library Link Formatting
.sidebar-links {
  .panel-heading {
    background-color: @accordion-header-bg-color;
    //background: linear-gradient(to bottom, @accordion-header-top-gradient-color, @accordion-header-bottom-gradient-color);
  }

  .panel-title {
    color: @gray-dark;
    text-shadow: 1px 1px #fff;
  }

  .active {
    .panel-heading {
      background-color: @accordion-active-header-backgroundcolor;
    }

    .panel-title {
      color: @accordion-active-header-color;
      text-shadow: 1px 1px @gray;
    }

    > a:hover {
      text-decoration: underline #fff; // keep the title's link underlining the same color as the title
    }

    > a:focus {
      text-decoration: none;
      .panel-title {
        text-shadow: 1px 1px @focus-ring-color;
      }
    }

    > a:visited {
      text-decoration: none;
    }
  }

  .panel-body {
    font-size: 13px;
    color: @gray-dark;
    //background-color: #eeeeee;
    background-color: transparent;
    border: 1px solid #c5c5c5;

    a {
      &, &:visited, &:hover {
        &:not(.btn) { // Let buttons in the sidebar have their normal font color.
          color: @sidebar-link-color;
        }
      }
    }
  }
}

// Theming for auto-complete widget //
.ui-helper-hidden {
  display: none;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0;
      //-webkit-border-radius: 0;
      //-moz-border-radius: 0;
      background-image: none;
    }
  }
}

// Put Labels beneath icons on small screens when the sidebar has moved across the top
@media (max-width: 540px) {
  .formatCategoryLabel {
    float: none;
    clear: both;
  }
}

// shrink icons for a range where the labels slightly overlap & the sidebar still acts as a sidebar
// the upper limit looks to be the width at which the #availabilityControlContainer div wraps
@media (min-width: @screen-sm-min) and (max-width: 999px) {
  .formatCategoryLabel {
    float: none;
    clear: both;
  }
}

// Fix searchbox border radius
#lookfor {
  border-radius: @border-radius-small 0 0 @border-radius-small;
  overflow-y: hidden;
  padding-top: 0.4em;
  //height: 34px;
  line-height: 20px;
  min-height: 18px;
}

#search-actions.input-group-btn {
  vertical-align: top;
}

// Makes record-view descriptions more legible
#descriptionPanelBody > .panel-body {
  white-space: pre-line;
  //line-height: 1.7em;
}

// User List sorting drop-down
// taken from bootstrap css
.dropdown-menu-right {
  right: 0;
  left: auto
}

.badge.badge-danger {
  background: @accessible-red;
}

.badge.badge-warning {
  background: #ffc107;
  color: black;
}

.badge.badge-primary {
  background: #007bff;
}

.badge.badge-secondary {
  background: #6c757d;
}

.badge.badge-success {
  background: #28a745;
}

.badge.badge-info {
  background: #17a2b8;
}

.badge.badge-light {
  background: #f8f9fa;
  color: black;
}

.badge.badge-dark {
  background: #343a40;
}