//
// Main responsive theme css
//

//Default values for variables
@navbarCollapseWidth: 480px;
@navbarCollapseDesktopWidth: 481px;
@horizontalComponentOffsetNarrow: 80px;
@icon-font-path: '/fonts/';

@import "bootstrap/less/bootstrap.less";
@import "bootstrap.inline-responsive.less";

//
//  Basic Style overrides
//

// Override bootstrap mixin
.tab-focus() {
  outline: @focus-ring-color 2px solid;
}

// Mixin to use on links in order to distinguish from text without relying on color (Accessibility 1.4.1)
.link-decorating-mixin(@link-color: @darkened-link-color-resp){
  color: @link-color;
  text-decoration: underline dotted;
}

// Setting bootstrap @link-color instead of using this rule.
// (May need to re-include the a:visited rule)
//a, a:visited {
//  //&:not(.btn) {  // Prevent this from applying to links styled as buttons
//    color: @link-color-resp;
//  //}
//}

a:focus {
  outline: @focus-ring-color 2px solid;
}

a:hover {
  color: darken(@link-color-resp, 10%);
}

//TODO: remove to allow original styling to be in place.
// Seems the point originally was to make the button text white
//a.btn-primary, a.btn-info {
//  color: @btn-primary-color;
//}
// If needed, replace with
//a.btn-primary {
//  color: @btn-primary-color;
//}
//a.btn-info {
//  color: @btn-info-color;
//}

@media print {
  a:link:after,
  a:visited:after {
    content: "" !important;
  }
}

// Skip block navigation
// (HTML and styling (originally scss) for skip block navigation taken from https://developer.mozilla.org )

.a11y-nav {
  position: absolute;
  top: -20em;
  width: 100%;
  z-index: 10000; // var(--z-index-a11y); //  10000

  a {
    background-color: rgba(255, 255, 255, 0.9);
    font-weight: bold; // var(--font-body-strong-weight); // 600
    left: 0;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    text-align: center;

    &:hover,
    &:focus {
      box-shadow: 0 1px 2px rgba(43,42,51,.05); // var(--shadow-01); // 0 1px 2px rgba(43,42,51,.05);
      text-decoration: none;
      top: 20em;
    }
  }
}

#more-details-accordion .panel-body, .related-manifestation table {
  a:not(.btn) {
    .link-decorating-mixin;
  }
}

body {
  font-family: @font-family-sans-serif-resp;
  background-color: @body-bg-resp;
  > .container {
    background-color: @content-bg;
  }
}

.noBreak {
  white-space: nowrap;
}

.collapsed, .expanded {
  cursor: pointer;
}

.fieldset-collapsed {
  //height: 10px;
  overflow: hidden;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  div, fieldset {
    display: none;
  }
}

.fieldset-collapsible-label {
  color: #256292;
  cursor: pointer;
  font-size: 14px;
}

.fieldset-collapsible-label:before {
  content: "▼ ";
}

.fieldset-collapsed .fieldset-collapsible-label {
  background-position: 4px 4px;
}

.fieldset-collapsed .fieldset-collapsible-label:before {
  content: "► ";
}


.accordion {
  .panel-title.collapsed:before {
    content: "► ";
    @media print {
      content: "";
    }
  }

  .panel-title.expanded:before {
    content: "▼ ";
    @media print {
      content: "";
    }
  }
}

.panel .panel-title:before {
  content: "► ";
  @media print {
    content: "";
  }
}

.panel.active .panel-title:before {
  content: "▼ ";
  @media print {
    content: "";
  }
}

.panel-heading-gradient(@start-color: @accordion-header-top-gradient-color; @end-color: @accordion-header-bottom-gradient-color){
  .panel-heading {
    #gradient > .vertical(@start-color; @end-color);
  }
}

// accordion mixin
.accordion-headers-and-titles(
  @accordion-header-bg-color: @accordion-header-bg-color;
  @accordion-active-header-bg-color: @accordion-active-header-bg-color;
  @accordion-header-color: @accordion-header-color;
  @accordion-active-header-color: @accordion-active-header-color;
  @accordion-header-shadow: 1px 1px @accordion-header-shadow-color;
  @accordion-active-header-shadow:  1px 1px @accordion-active-header-shadow-color;
  @accordion-header-border-color: @accordion-header-border-color
){
  .panel-heading {
    background-color: @accordion-header-bg-color;
    border: 1px solid @panel-inner-border;
  }

  .panel-title {
    color: @accordion-header-color;
    text-shadow: @accordion-header-shadow;
  }

  .active {
    .panel-heading {
      background-color: @accordion-active-header-bg-color;
    }

    .panel-title {
      color: @accordion-active-header-color;
      text-shadow: @accordion-active-header-shadow;
    }

    > a:hover {
      text-decoration: underline @accordion-active-header-color; // keep the title's link underlining the same color as the title
    }

    > a:focus {
      text-decoration: none;
      .panel-title {
        text-shadow: 1px 1px @focus-ring-color;
      }
    }

    > a:visited {
      text-decoration: none;
    }
  }
}
.accordion-headers-and-titles;
//.panel-heading {
//  background-color: @accordion-header-bg-color;
//}
//
//.panel-title {
//  color: @accordion-header-color;
//  text-shadow: 1px 1px @accordion-header-shadow-color;
//}
//
//.active {
//  .panel-heading {
//    background-color: @accordion-active-header-bg-color;
//  }
//
//  .panel-title {
//    color: @accordion-active-header-color;
//    text-shadow: 1px 1px @accordion-active-header-shadow-color;
//  }
//
//  > a:hover {
//    text-decoration: underline @accordion-active-header-color; // keep the title's link underlining the same color as the title
//  }
//
//  > a:focus {
//    text-decoration: none;
//    .panel-title {
//      text-shadow: 1px 1px @focus-ring-color;
//    }
//  }
//
//  > a:visited {
//    text-decoration: none;
//  }
//}

// Modals
.modal {
  //position: fixed; // In modals.less
  // This seems to move the vertical scroll bar from the right end of the screen to
  // near the right end of the modal box
  left: 50%;
  width: 80%;
  margin-left: -40%;
  overflow-y: auto;

  @media(max-width: @screen-xs-max) {
    width: 98%;
    margin-left: -50%;
  }
}

.modal-dialog {
  max-width: 100%; // constrain content to the modal box
}

.modal-buttons {
  margin-left: 3px;
  margin-right: 3px;
}

// top-right close button
.modal-header .close {
  margin-top: -10px;
  font-size: 40px;
  opacity: .4;
}

.btn:active, .btn.active {
  font-weight: bold;
}

.btn-toolbar {
  @media print {
    display: none;
  }
}

.btn-group {
  @media print {
    display: none;
  }
}

.nav-tabs {
  margin-bottom: 0;
}

@media print {
  #header-wrapper, #side-bar {
    display: none;
  }
}

.bold {
  font-weight: bold;
}

ul.list-striped, ol.list-striped {
  > li:nth-child(odd),
  > li:nth-child(odd) {
    background-color: @table-bg-accent;
  }
}

div.striped {
  > div:nth-child(odd),
  > div:nth-child(odd) {
    background-color: @table-bg-accent;
  }
}

// Library Admin Page
#propertyRowfacets {
  overflow-x: scroll;
}

// Google translate
#google_translate_element {
  font-size: smaller;
  padding-left: 5px;
}

.goog-te-gadget {
  display: inline-block;
}

.form-control:focus {
  border: 1px solid @focus-ring-color;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(225, 95, 21, 0.7);
}

.btn-default:focus {
  border-color: @focus-ring-color;
}

#horizontal-search-box .searchSourceHorizontal:focus, #horizontal-search-box .searchTypeHorizontal:focus, #horizontal-search-box .searchSourceHorizontal:focus, #horizontal-search-box .searchTypeHorizontal:focus {
  border: 1px solid @focus-ring-color !important;
}

.btn-group, .btn-group-vertical {
  & > .btn:focus {
    outline: 2px solid @focus-ring-color !important;
  }
}

.browse-thumbnail a:focus img, a:focus img.listResultImage {
  outline: 2px solid @focus-ring-color!important;
}

#vertical-menu-bar .menu-bar-option:focus-within {
  border: 2px solid @focus-ring-color !important;
  outline: 2px solid white;
}

#vertical-menu-bar .menu-icon-selected:focus-within {
  border: 2px solid @menu-bar-background-color !important;
  outline: 2px solid white;
}


a:focus > .header-button {
  outline: 1px solid @focus-ring-color !important;
}

#browse-category-picker .jcarousel-control-prev:focus, #browse-category-picker .jcarousel-control-next:focus {
  outline: 2px solid @focus-ring-color !important;
}
//a:focus > #more-browse-results{
//  outline: 1px solid @focus-ring-color !important;
//}
// Links have been removed from the jcarousel-pagination display
//.jcarousel-pagination > a:focus {
//  outline: 1px solid @focus-ring-color !important;
//}
//
//.jcarousel-pagination > a.active:focus {
//  outline: 2px solid @menu-bar-background-color !important;
//}

input[type="checkbox"]:focus {
  outline: 2px solid @focus-ring-color !important;
  //TODO: use focus ring color
}
select:focus,input[type="select"]:focus {
  outline: 1px solid @focus-ring-color !important;
}

nav.breadcrumbs [aria-current="page"] {
  text-decoration: none !important;
  font-style: italic !important;
  color: #222;
}

.categoryValue:focus-within {
  outline: 1px solid @focus-ring-color !important;
}

// Datatable style overrides
table.dataTable.display tbody tr.odd, table.dataTable.order-column.stripe tbody tr.odd {
  & > .sorting_1,& > .sorting_2,& > .sorting_3 {
    a {
      color: @darkened-link-color-resp;
    }
  }
}

// Third party imports
@import "ratings.less";
@import "datepicker.less";
@import "jcarousel.responsive.less";

// Customized import
@import "switch.less";

// Imports of functionality related to Pika
@import "layout.less";
@import "home.less";
@import "browse-categories.less";
@import "account.less";
@import "author.less";
@import "title-scroller.less";
@import "record.less";
@import "results-list.less";
@import "grouped_work.less";
@import "genealogy.less";
@import "repository.less";
@import "admin.less";