@import (reference) "bootstrap/less/variables.less";

//
//Variables for Pika customization.  These can be overridden at the local theme level
//
@body-bg-resp: #fff;
@content-bg: #fff;
//@body-text-color: #6B6B6B; // (original value)
//@body-text-color: #736868; // https://webaim.org/resources/contrastchecker/?fcolor=736868&bcolor=DFF0D8  (contrast with @success-bg)
@body-text-color: #656565; // https://webaim.org/resources/contrastchecker/?fcolor=656565&bcolor=F2DEDE  (contrast with @state-danger-bg0
                           // https://webaim.org/resources/contrastchecker/?fcolor=656565&bcolor=DFF0D8  (contrast with @success-bg)
@link-color-resp: #4273AC; //https://webaim.org/resources/contrastchecker/?fcolor=4273AC&bcolor=F5F5F5  (contrast for breadcrumb background
//@link-color-resp: #427AB3; // https://webaim.org/resources/contrastchecker/?fcolor=427AB3&bcolor=FFFFFF

@darkened-link-color-resp: darken(@link-color-resp, 5%);
// https://webaim.org/resources/contrastchecker/?fcolor=3B679A&bcolor=F2DEDE
// https://webaim.org/resources/contrastchecker/?fcolor=3B679A&bcolor=EEEEEE


@font-family-sans-serif-resp:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif-resp:       Georgia, "Times New Roman", Times, serif;
@icon-font-path:               "../../../../fonts/";

@accessible-blue: #0A75E3; // https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=0A75E3
// use to replace @brand-primary color (#428bca)

@accessible-red: #EC130E; // https://webaim.org/resources/contrastchecker/?fcolor=EC130E&bcolor=FFFFFF
// Use to replace CSS color red  (#FF0000)

@accessible-success-green: #128A0B; // https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=128A0B

@accessible-gray-light: #797676; // https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=797676
// Use to replace bootstrap @gray-light (#999)

// Replace all gray-light coloring with @accessible-gray-light
@gray-light: @accessible-gray-light;

// Make single-title manifestation box contrast accessible
@label-default-bg: @accessible-gray-light;

@brand-primary: @accessible-blue; // make primary blue color an accessible contrast with #fff

// Make multiple-title manifestation box contrast accessible
@brand-info: #097FAF; // https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=097FAF

// Replace the bootstrap success green with an accessibly contrasted green
@brand-success: @accessible-success-green;

// Make default badge contrast accessible
@badge-bg: @accessible-gray-light;

// Make warning button contrast accessible
@btn-warning-color: @btn-default-color; // https://webaim.org/resources/contrastchecker/?fcolor=333333&bcolor=F0AD4E

// Button modification
@padding-small-horizontal: 5px;
//TODO this is to fix display of "Check Out OverDrive" buttons.  Not sure what else is impacted by this change. pascal 3/29/2024

//Header Variables

@system-message-bg: @body-bg-resp;
@header-bg-color: #fff;
@header-height: 100px; // there is minimum header height of 110px

//@header-top-color: #f2f2f2; //Top color for background gradient in header
//@header-middle-color: #dddddd; //middle color for background gradient in header @80% of header height from bottom
//@header-bottom-color: #e0e0e0; //Bottom color for background gradient in header
@header-bottom-border-color: #b7b7b7;
@header-bottom-border-width: 8px;


//Header buttons
@header-button-color: #222;
@header-button-bg-color: @header-bg-color;
@header-button-hover-color: #fff;
@header-button-hover-bg-color: rgba(51,51,51,0.7);
//@header-button-bg-color: rgba(51,51,51,0.7);
//@header-link-color-hover: #088ec6;
@header-button-border-color: #555;
//@header-button-border-color: #d9d8d8;
//@header-button-border-vertical: #d9d8d8; //TODO remove all instances
@header-button-height: 50px;

@library-display-name-color: #8b8b8b;
@library-display-name-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
@library-display-name-font-size: 30px;

//Footer Variables
@footer-top-border-color: #088ec6;

//Search Box color
//@home-search-top-color: #00a4e3; //Top color for background gradient in header
@home-search-top-color: #057DBC; //Top color for background gradient in header (https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=057DBC)
@home-search-bottom-color: #147ce2; //Bottom color for background gradient in header
@home-search-label-color: #FFF;
@horizontal-search-label-color: @home-search-label-color;

//Menu Bar Variables
@menu-bar-background-color: #057DBC; // https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=057DBC
@menu-bar-color: #FFF;
@vertical-menu-bar-width: 40px;
@menu-bar-selected-background-color: #0175E4; // https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=0175E4
@menu-bar-selected-color: #FFF;
@menu-bar-z-index: 101;

// Sidebar Login Section
@home-page-login-color: #FFF;
@home-page-login-background-color: #524747; // Passes AAA large text contrast https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=524747

//Sidebar font data
@sidebar-link-color: @link-color-resp;
//@sidebar-link-color: @darkened-link-color-resp; // Not need if the accordion background isn't a gray
@sidebar-label-background-color: #414141; // (AAA) https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=414141
@sidebar-label-color: #FFF;

// Sidebar buttons
@sidebar-button-color: #FFF;
@sidebar-button-bg-color: #4F5253; // passes AAA for normal text https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=4F5253
// (same pair of colors as .result-tools-horizontal)

//Home Page Browse Category labels
//@browse-header-background-color: #d7dce3;
@browse-header-background-color: @content-bg;
@home-page-browse-content-background-color: @content-bg;
//@browse-label-text-color: #3497d1;
@browse-label-text-color: #2D5D82;  // 7 contrast against #FFF https://webaim.org/resources/contrastchecker/?fcolor=2D5D82&bcolor=FFFFFF
@browse-label-line-color: #bbd4e3;
//@browse-label-line-color: #2D5D82;  // 7 contrast against #FFF https://webaim.org/resources/contrastchecker/?fcolor=2D5D82&bcolor=FFFFFF
@selected-browse-label-search-color: #0072bc;

//Home Page Browse categories
@browse-category-font-size: 20px;
@browse-category-text-color: #fff;
@categoryLineShadow: #64b7d8;
@categoryLineColor: #89cae5;
@category1MainColor: #0B7EB5; //https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=0B7EB5
// Set all browse categories the same by default
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

// Lightening the category colors likely results in inaccessible contrasts
//@category2MainColor: lighten(@category1MainColor, 3%);
//@category3MainColor: lighten(@category1MainColor, 6%);
//@category4MainColor: lighten(@category1MainColor, 9%);
//@category5MainColor: lighten(@category1MainColor, 12%);
//@category6MainColor: lighten(@category1MainColor, 15%);
//@category7MainColor: lighten(@category1MainColor, 18%);
//@category8MainColor: lighten(@category1MainColor, 21%);
//@category9MainColor: lighten(@category1MainColor, 24%);

@selectedCategoryBorderColor: #3497d1;


//Home Page Browse Category Carousel Controls
@browseCarouselControlBackgroundColor: #9e9fa3;
@browseCarouselControlColor: #d4d4d4;

// Home Page Browse Sub-Categories
@selectedSubCategoryFontColor: #fff;
@selectedSubCategoryBackgroundColor: @category1MainColor;

// Home Page Browse Category More Results button
@more-browse-results-backgroundcolor: #e6e6e6;
@more-browse-results-color: #c7c9ca;

//Accordions
@accordion-active-header-bg-color: #4dacde;
@accordion-active-header-color: #fff;
@accordion-active-header-shadow-color: @gray;

@accordion-header-bg-color: #e7e7e7;
@accordion-header-color: @gray-dark;
@accordion-header-border-color: @panel-inner-border;
@accordion-header-shadow-color: #fff;

@accordion-header-top-gradient-color: #fff;
@accordion-header-bottom-gradient-color: #d7d7d7;

//@panel-title-font-size: 16px; (default value 16px, is ceil((@font-size-base * 1.125));

// Search results
@facetTitle-bg-color: #f2f2f2;
@facetTitle-color: #333;

// Explore More Bar
@explore-more-bar-label-bg-color: @menu-bar-background-color;
@explore-more-bar-label-color: @menu-bar-color;
@explore-more-bar-label-width: @vertical-menu-bar-width;
@explore-more-bar-border-width : 1px;
@explore-more-bar-image-height: 150px;

// Explore More Side Bar
@explore-more-sidebar-bg-color: darken(@explore-more-bar-label-bg-color, 5%);
@explore-more-sidebar-color: @explore-more-bar-label-color;
@explore-more-sidebar-body-bg-color: #f8f8f8;

// List widget
@title-color: #000075;
@subsection-title-color: @title-color;

// Masquerade Variables
@masquerade-color: #FFF;
@masquerade-background-color: #6200a4; // (AAA) https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=6200A4
@masquerade-bar-height: 50px;
@masquerade-button-color: #003366;
@masquerade-button-bg-color: #f1dbff; // (AAA) https://webaim.org/resources/contrastchecker/?fcolor=003366&bcolor=F1DBFF

// Digital Archive
@archiveComponent-color: @menu-bar-color;
@archiveComponentControl-background-color: @menu-bar-background-color;

// Keyboard Focus colors
@focus-ring-color: #E15F15;

// Item/Record/Work Status colors
@available-status-color: green; // (#008000;) (5.13:1) https://webaim.org/resources/contrastchecker/?fcolor=008000&bcolor=FFFFFF
        //@accessible-success-green; // #128A0B; // (4.5:1) https://webaim.org/resources/contrastchecker/?fcolor=128A0B&bcolor=FFFFFF
@checkedOut-status-color: @accessible-red; // ( 4.5:1)
        //#cc0000; // (5.88:1) https://webaim.org/resources/contrastchecker/?fcolor=CC0000&bcolor=FFFFFF;

@dueSoon-status-color: #B55A0A; // https://webaim.org/resources/contrastchecker/?fcolor=B55A0A&bcolor=F9F9F9;
//color: #B95E04; // https://webaim.org/resources/contrastchecker/?fcolor=B95E04&bcolor=FFFFFF

@overdue-status-color: #C81B0B; // https://webaim.org/resources/contrastchecker/?fcolor=C81B0B&bcolor=F2DEDE

@nearby-status-color: #BB0099; // https://webaim.org/resources/contrastchecker/?fcolor=BB0099&bcolor=FFFFFF

@availableToOrder-status-color: #CF05D8; // https://webaim.org/resources/contrastchecker/?fcolor=CF05D8&bcolor=FFFFFF

@availableOther-status-color: #A60489; // https://webaim.org/resources/contrastchecker/?fcolor=A60489&bcolor=FFFFFF