// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";


#header-container {
  background-color: #4c7eb9;
  background: linear-gradient(to bottom,#4c7eb9,#395982 65%,#314869);
}

.header-login-button-mixin;
// bring in login button styling

// custom styling of main browse category carousel
.noCarouselBrowseCategoriesMixin();

// Selected Category needs to give a highlighted appearance
.noCarouselSelectedCategoryMixin();

#selected-browse-search-link .icon-before {
  display:none;
}

#selected-browse-search-link .icon-after {
  .glyphicon;
  //display: inline;
  .glyphicon-chevron-right;
}

.sidebar-button {
  background:#242D40;
}

input.btn.btn-warning {
  background-color: #a83f3c;
  border-color: #a83f3c;
}

.badge.badge-danger {
  background-color: #a83f3c;
}