// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

// Main Styling for Fort Lewis College

.header-login-button-mixin;

#header-logo {
  padding-top: 0;
  max-height: none;
}

#browse-category-carousel .browse-category.selected {
  background-color: @selectedCategoryColor;
  button {
    color: @selectedSubCategoryFontColor;
  }
}