//Variables Customizations for Fort Lewis College theme
@ftlewisdarkblue : #193157;
//@ftlewisblue: #004684;
@ftlewisblue: #004B8D;
@ftlewislightblue: #007CC3;
@ftlewisorange: #FEBF56;

@ftlewisTextBlue: #004B8D;
@ftlewisYellow: #FDBB2D;


//// Breadcrumbs bar
//@breadcrumb-bg:               @ftlewisdarkblue;
//@breadcrumb-color:            #fff;
//@breadcrumb-active-color:     #fff;

// Header
@header-bg-color : #fff;
@header-bottom-border-color: #fff;

@header-height: 141px;

// Border Lines
//@header-bottom-border-color: @ftlewisblue;
@footer-top-border-color: @ftlewisblue;


// Search Box
@home-search-top-color: @ftlewisblue; //Top color for background gradient in header
@home-search-bottom-color: @ftlewisblue;


// Browse Category
@category1MainColor: @ftlewisblue;
@categoryLineColor: @ftlewisorange;
@categoryLineShadow: darken(@ftlewisorange, .2);

@selectedCategoryBorderColor: @ftlewisYellow;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @ftlewisYellow;
@selectedSubCategoryBackgroundColor:@ftlewisYellow;
@selectedSubCategoryFontColor: @ftlewisTextBlue;


// Sidebar Accordion
@accordion-active-header-bg-color: @ftlewisblue;

@menu-bar-background-color: @ftlewisblue;
@menu-bar-selected-background-color: @ftlewisorange;
@menu-bar-selected-color: @ftlewisTextBlue;

// Primary Buttons
@btn-primary-bg: @ftlewisYellow;
@btn-primary-color: @ftlewisTextBlue;
