@bemis-red: #b71f36;
@bemis-light-red: #cb2037;
@bemis-dark-yellow: #f5c803;
@bemis-yellow: #fed103;

@bemis-black: #231f20;
//@bemis-gray: #75777a;
@bemis-gray: #757778; // https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=757778
@bemis-light-gray: #eee;

@home-search-top-color: @bemis-gray; //Top color for background gradient in header
@home-search-bottom-color: @bemis-gray;

@sidebar-link-color: @bemis-black;
@menu-bar-background-color: @bemis-red;
@menu-bar-selected-background-color: @bemis-gray;

@header-bg-color: #fff;

@header-bottom-border-color: @bemis-red;
@footer-top-border-color: @bemis-black;

@home-page-login-background-color: @bemis-gray;

@accordion-header-bg-color: @bemis-light-red;
@accordion-active-header-bg-color: @bemis-red;
//@accordion-header-top-gradient-color: @bemis-light-red;
//@accordion-header-bottom-gradient-color: @bemis-red;
@accordion-header-color: #fff;
@accordion-header-shadow-color: @accordion-active-header-shadow-color;

@header-buttons-background-color: @bemis-red;

@btn-primary-bg: @bemis-red;
@btn-primary-color: #fff;

@category1MainColor: #fff;
@categoryLineColor: #fff;
@categoryLineShadow: #fff;
@selectedCategoryBorderColor: #fff;

@browseCarouselControlBackgroundColor: #F9F9F0;
@browseCarouselControlColor: @bemis-red;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @bemis-red;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


@browse-label-text-color: @bemis-black;
@browse-category-text-color: darken(@bemis-red, 7%);
@selected-browse-label-search-color: @bemis-black;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-bg-color: @bemis-red;
@accordion-active-header-shadow-color: @bemis-gray;