@bemis-red: #b71f36;
@bemis-light-red: #cb2037;
@bemis-dark-yellow: #f5c803;
@bemis-yellow: #fed103;

@bemis-black: #231f20;
@bemis-gray: #75777a;
@bemis-light-gray: #EEEEEE;

@home-search-top-color: @bemis-gray; //Top color for background gradient in header
@home-search-bottom-color: @bemis-gray;

@sidebar-link-color: @bemis-black;
@menu-bar-background-color: @bemis-red;
@menu-bar-selected-background-color: @bemis-red;

@header-top-color: #ffffff; //Top color for background gradient in header
@header-middle-color: #ffffff; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #ffffff; //Bottom color for background gradient in header

@header-bottom-border-color: @bemis-red;
@footer-top-border-color: @bemis-black;

@accordion-header-top-gradient-color: @bemis-light-red;
@accordion-header-bottom-gradient-color: @bemis-red;

@header-buttons-background-color: @bemis-red;

@btn-primary-bg: @bemis-red;
@btn-primary-color: #FFFFFF;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #F9F9F0;
@browseCarouselControlColor: @bemis-red;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @bemis-red;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@browse-label-text-color: @bemis-black;
@browse-category-text-color: darken(@bemis-red, 7%);
@selected-browse-label-search-color: @bemis-black;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-backgroundcolor: @bemis-red;