// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";



#system-message-header{
  background: #F2DEDE;
}


#horizontal-search-box #horizontal-search-label {
  color: #205724;
}

#advancedSearchLink, #keepFiltersSwitchLabel {
  color: #205724;
}

#home-page-browse-header {
  background-color: #ffffff;}


#header-logo {padding: 10px 0 0; margin-top: -10px;}
#header-links {background: #0A61AE}
.header-link-wrapper a {color: white; font-weight:bold;}
#header-links .header-link-wrapper {border: none}
/*#header-links .header-link-wrapper:last-of-type {border-right: 1px solid #0078ae}*/


.header-button {
  border-radius: .5em;
  border: 1px solid #80B5D9;
  color: #333!important;
  border-color: #ccc;
  background-color: #fff;
  margin-top: 20px;
  line-height: 60px!important;
  text-shadow: none;
}
.header-button:hover {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}

#sidebar-content{
  background:#fff;
}

#home-page-browse-header {
  background-color: #ffffff;}

.searchTypeHome {
  background-color: #ffffff;
  color: #000000;
}

#browse-label {
  height: 0;
  background-color: #ffffff!important;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: -15px;
  z-index: -1!important;}

.browse-label-text {
  background-color: #ffffff;
  color: #205724!important;}


#selected-browse-label {
  background-color: #fff;
  background: linear-gradient(to bottom,#fff,#fff 44%,#205724 45%,#205724 55%,#fff 56%);
  margin-bottom: 5px;
}
.selected-browse-label-search a {
  color: #205724
}


.browse-category div {
  color: @green-broomfield;
}
.browse-category {

  text-shadow: 0px 0px!important;
  border: 1px solid #FFFFFF;
  background-color: #ffffff;

}

.browse-category.category0 {
  border: 1px solid #FFFFFF;
  background: linear-gradient(to bottom, #ffffff, #ffffff 82%, #ffffff 83%, #ffffff 84%, #ffffff 88%, #ffffff 89%, #ffffff 90%, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0);}

.browse-category.category1 {
  border: 1px solid #FFFFFF;
  background: linear-gradient(to bottom, #ffffff, #ffffff 82%, #ffffff 83%, #ffffff 84%, #ffffff 88%, #ffffff 89%, #ffffff 90%, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0);}

.browse-category.category2 {
  border: 1px solid #FFFFFF;
  background: linear-gradient(to bottom, #ffffff, #ffffff 82%, #ffffff 83%, #ffffff 84%, #ffffff 88%, #ffffff 89%, #ffffff 90%, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0);}

.browse-category.category3 {
  border: 1px solid #FFFFFF;
  background: linear-gradient(to bottom, #ffffff, #ffffff 82%, #ffffff 83%, #ffffff 84%, #ffffff 88%, #ffffff 89%, #ffffff 90%, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0);}

.browse-category.category4 {
  border: 1px solid #FFFFFF;
  background: linear-gradient(to bottom, #ffffff, #ffffff 82%, #ffffff 83%, #ffffff 84%, #ffffff 88%, #ffffff 89%, #ffffff 90%, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0);}

.browse-category.category5 {
  border: 1px solid #FFFFFF;
  background: linear-gradient(to bottom, #ffffff, #ffffff 82%, #ffffff 83%, #ffffff 84%, #ffffff 88%, #ffffff 89%, #ffffff 90%, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0);}

.browse-category.category6 {
  border: 1px solid #FFFFFF;
  background: linear-gradient(to bottom, #ffffff, #ffffff 82%, #ffffff 83%, #ffffff 84%, #ffffff 88%, #ffffff 89%, #ffffff 90%, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0);}

.browse-category.category7 {
  border: 1px solid #FFFFFF;
  background: linear-gradient(to bottom, #ffffff, #ffffff 82%, #ffffff 83%, #ffffff 84%, #ffffff 88%, #ffffff 89%, #ffffff 90%, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0);}

.browse-category.category8 {
  border: 1px solid #FFFFFF;
  background: linear-gradient(to bottom, #ffffff, #ffffff 82%, #ffffff 83%, #ffffff 84%, #ffffff 88%, #ffffff 89%, #ffffff 90%, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0);}

.browse-category.category9 {
  border: 1px solid #FFFFFF;
  background: linear-gradient(to bottom, #ffffff, #ffffff 82%, #ffffff 83%, #ffffff 84%, #ffffff 88%, #ffffff 89%, #ffffff 90%, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0);}


.browse-category.selected {
  border: none;
  background-color: #205724;
  background: #205724;
  background: -webkit-linear-gradient(top, #205724 0%, #494A0C 75%, #fff 75%, #fff 80%, #CCC 80%, #fff 100%);
  background: linear-gradient(to bottom, #205724 0%, #494A0C 75%, #fff 75%, #fff 80%, #CCC 80%, #fff 100%);
}
.browse-category.selected div {
  color: #fff;
  text-shadow: none;
  font-size: 20px;
}
#browse-category-picker .jcarousel-control-prev  {
  background-color: #ffffff;
  color: #d4d4d4;
  font-size: 50px;
  box-shadow: 0 0 0px #ffffff;
}

#browse-category-picker .jcarousel-control-next  {
  background-color: #ffffff;
  color: #d4d4d4;
  font-size: 50px;
  box-shadow: 0 0 0px #ffffff;
}

#vertical-menu-bar-wrapper {
  width: 40px;
  padding-left: 0;
  padding-right: 0;
}
#footer-container {
  border-top: 8px solid #40AE49;
  padding-top: 3px;
}


#replacement-search-info {
  font-size: 22px;
}

.replacement-search-info-text {
  color: #4F4F50;
  font-style: normal;
}


#original-search-info {
  font-size: 18px;
}


#availabilityControlContainer, #wikipedia_placeholder {
  border-bottom: 3px solid #d5d6da;
  padding-bottom: 20px;
}
#horizontal-search-box #lookfor {
  height: 34px!important;
}