// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";


#header-logo {
  padding: 10px 0 0;
  margin-top: -10px;
}

#header-links {
  // Set @header-height to 120px for header links to show //
  background: #0A61AE; // (6.29) https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=0A61AE

  .header-link-wrapper {
    border: none
  }

  .header-link-wrapper a {
    color: white;
    font-weight: bold;
  }
}


.header-login-button-mixin(#FFF, #333);
a .header-button {
  border: 1px solid #CCC;

  &:hover {
    color: #333;
    background-color: #ebebeb;
    border-bottom: 4px solid #adadad;
  }
}


//#sidebar-content {
//  background: #fff;
//}

.searchTypeHome {
  background-color: #fff;
  color: #000;
}

//#selected-browse-label {
//  background-color: #fff;
//  background: linear-gradient(to bottom, #fff, #fff 44%, @broomfield-darkgreen 45%, @broomfield-darkgreen 55%, #fff 56%);
//  margin-bottom: 5px;
//}

//#browse-category-carousel .browse-category {
//  text-shadow: 0 0 !important;
//  border: 1px solid #fff;
//  background-color: #fff;
//}

#browse-category-carousel .browse-category.selected {
  border: none;
  background: @broomfield-darkblue;

 button {
   color: #fff;
   font-size: 20px;
 }
}


#browse-category-picker .jcarousel-control-prev,
#browse-category-picker .jcarousel-control-next {
  .box-shadow(none)
}

#availabilityControlContainer, #wikipedia_placeholder {
  padding-bottom: 20px;
}

.sidebar-links .panel-heading {
  background: #e7e7e7;
}

.sidebar-links .active .panel-heading {
  background: @gray-black;
}

.sidebar-button {
  background: @gray-black;
  padding: 7px 0;
}

