// Variables for Flatirons Consortium styling


// Colors taken from current catalog homepage
//@blue-boulder-text : #0A61AE;
@green-louisville-text : #597635; // (5.16) https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=597635
//@purple-broomfield-text : #669;  // (5.34) https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=666699
@gray-black: #3b3f43; // (10.61) https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=3B3F43

@blue-boulder-background : #E1EAF4;
@green-broomfield : #40ae49;
@purple-broomfield-background: #D7D4E0;

@teal-broomfield: #238377; // (4.58) https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=238377
@broomfield-darkgreen: #205724; // (8.57) https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=205724

@broomfield-teal-text: #1b8377; // (4.6) https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=1B8377
@broomfield-darkblue: #002f87; // (11.95) https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=002F87

//@bright-purple: #7C14B8;

@breadcrumb-bg: #fff;
@explore-more-sidebar-body-bg-color: #fff;


// Header Variables
//@header-height: 90px;
@header-bg-color: #fff;
@header-button-bg-color: #CCC;
@header-bottom-border-color: #fff;
@footer-top-border-color: @teal-broomfield;

// Display Name Variables
@library-display-name-color: @green-louisville-text; // @purple-broomfield-text;
@library-display-name-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
@library-display-name-font-size: 22px;

// Search Box color
@home-search-top-color: @teal-broomfield; //Top color for background gradient in header
@home-search-bottom-color: @teal-broomfield; //Bottom color for background gradient in header
//@home-search-label-color: #fff;
//@home-search-label-color: @broomfield-darkgreen;
//@horizontal-search-label-color: @broomfield-darkgreen;

//Home Page Browse Category labels
@browse-label-text-color: @broomfield-darkgreen;
@browse-label-line-color: @broomfield-darkgreen;
@selected-browse-label-search-color: @broomfield-darkgreen;

//Home Page Browse categories
@browse-category-font-size: 20px;
@browse-category-text-color: @gray-black;
@category1MainColor: #fff;
@selectedCategoryBorderColor: @broomfield-darkblue;
@browseCarouselControlBackgroundColor: #fff;
@selectedSubCategoryBackgroundColor: @broomfield-darkblue;

// Menu
@menu-bar-background-color: @teal-broomfield;
@menu-bar-selected-background-color: @broomfield-darkblue;

//Accordions
@accordion-active-header-bg-color: @teal-broomfield;
@panel-border-radius: 0;

@system-message-bg: #F2DEDE;

@btn-primary-bg: @broomfield-darkblue;