// Variables Customizations for Arlington theme

//@arlington-blue : #015cb9;
//@arlington-orange : #ef6722;
//@arlington-yellow : #fcaf39;
//
//@arlington-light-blue: lighten(@arlington-blue, 40%);
//
//// Search Box Coloring
////@home-search-top-color: lighten(@arlington-yellow, 10%);
//@home-search-top-color: @arlington-yellow;
//@home-search-bottom-color: @arlington-yellow;
//
//// Login SideBar
//@home-page-login-background-color: @arlington-blue;
//
//// Header Bottom Border
//@header-bottom-border-color: @arlington-orange;
//@footer-top-border-color: @arlington-orange;
//
//// Browse Category Carousel
////@category1MainColor: @arlington-blue;
//@category1MainColor: @arlington-yellow;
//@categoryLineColor: @arlington-blue;
////@categoryLineColor: @arlington-orange;
//@categoryLineShadow: @arlington-light-blue;
//@browseCarouselControlBackgroundColor: #FFF;
//@browseCarouselControlColor: @arlington-orange;
//
//@browse-header-background-color: #FFFFFF;
//@browse-label-text-color: @arlington-blue;
//@browse-label-line-color: @arlington-light-blue;
//
//@selectedCategoryBorderColor: @arlington-orange;
//
////Accordions
//@accordion-active-header-backgroundcolor: @arlington-blue;
//
//@menu-bar-background-color: @arlington-blue;



// New Colors //

@arlington-green: #B5BD00;
@arlington-magenta: #DA1884;
@arlington-black: #101820;
@arlington-dark-grey: #333F48;
@arlington-semi-dark-grey: #333F48;
@arlington-medium-grey: #A2AAAD;
@arlington-semi-light-grey: #C1C6C8;
@arlington-light-grey: #D0D3D4;


@home-search-top-color: @arlington-magenta;
@home-search-bottom-color: @arlington-magenta;

@header-bottom-border-color: #fff;
@footer-top-border-color: @arlington-black;


@home-page-login-background-color: #222;
@menu-bar-background-color: @arlington-magenta;

@more-browse-results-backgroundcolor: @arlington-semi-light-grey;
@more-browse-results-color: #FFF;


//No rounded corners
@border-radius-base:             0;
@border-radius-large:            0;
@border-radius-small:            0;

@header-height: 130px;


@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @arlington-black;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @arlington-green;
@selectedCategoryBorderColor: #222;
@selectedSubCategoryBackgroundColor: @arlington-green;
@selectedSubCategoryFontColor: #222;

// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@browse-label-text-color: @arlington-black;
@browse-category-text-color: #222;
@selected-browse-label-search-color: @arlington-black;
@browse-label-line-color:@arlington-light-grey;
//@browse-category-font-size: 30px;

//@accordion-header-bg-color: @arlington-light-grey;
@accordion-active-header-backgroundcolor: @arlington-semi-light-grey;
@accordion-header-top-gradient-color: @accordion-header-bg-color;
@accordion-header-bottom-gradient-color: @accordion-header-bg-color;