// Variables Customizations for Steamboat Library theme
@bwml-color-black: #1A0B01;
@bwml-color-pewter: #B2B2A1;
@bwml-color-antique: #EBE9DF;
@bwml-color-tan: #F5F4ED;
@bwml-color-white: #FFFFFF;
@bwml-color-olive-green: #677000;
@bwml-color-teal: #347979;
@bwml-color-turquoise: #56B8B8;
@bwml-color-burgandy: #7A1600;
@bwml-color-burnt-orange: #A64200;
@bwml-color-orange: #F47B20;
@bwml-color-avocado: #A3A510;
@bwml-color-army-green: #404D0E;
@bwml-color-bloodstone: #400B00;

// Menu
@menu-bar-background-color: @bwml-color-army-green;
@menu-bar-selected-background-color: @bwml-color-olive-green;
@accordion-active-header-bg-color: @bwml-color-army-green;
@sidebar-link-color:  @bwml-color-bloodstone;
@sidebar-label-background-color : @bwml-color-olive-green;

// Header
@header-bg-color: @bwml-color-white;
@header-bottom-color: @bwml-color-white;
@header-bottom-border-color: @bwml-color-pewter;
@footer-top-border-color: @bwml-color-burgandy;
@header-height: 65px;

// Search Box
@home-search-top-color: @bwml-color-white;
@home-search-bottom-color: @bwml-color-white;
@home-search-label-color: @bwml-color-burgandy;

@browseCarouselControlBackgroundColor: @bwml-color-antique;
@browseCarouselControlColor: @bwml-color-burgandy;

// Home Page Browse Category Pagination Controls
@selectedbrowseCarouselPaginationBackgroundColor: @bwml-color-olive-green;
//TODO: add as a main variable

@browse-label-text-color: @bwml-color-burgandy;
@selected-browse-label-search-color: @bwml-color-black;
@selectedCategoryColor: @bwml-color-burgandy;
@selectedSubCategoryBackgroundColor: @bwml-color-antique;
@selectedSubCategoryFontColor: @bwml-color-bloodstone;

@category1MainColor: @bwml-color-white;
@categoryLineColor: @bwml-color-white;
@categoryLineShadow: @bwml-color-white;
@selectedCategoryBorderColor: @bwml-color-white;

@btn-primary-bg: @bwml-color-olive-green;

@title-color: @bwml-color-avocado;
@subsection-title-color: @bwml-color-black;

@archiveComponent-color: @bwml-color-black;
@archiveComponentControl-background-color: @bwml-color-white;

@sidebar-button-bg-color: @bwml-color-burgandy;
@sidebar-label-background-color: @bwml-color-burgandy;