// Variables Customizations for Steamboat Library theme

@steamboat-lightgoldengreen: #B3B20A;
@steamboat-goldengreen: #a8a96f;
//@steamboat-goldengreen2: #a3a60f;
@steamboat-goldengreen2: #7A7B0C; // https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=7A7B0C
@steamboat-goldengreen3: #99980A;
@steamboat-darkgoldengreen: #646510;
@steamboat-darkgoldengreen2: #494A0C;
@steamboat-darkred:  #c65500;

@steamboat-new-darkbrown: #3F3C27; // https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=3F3C27
@steamboat-new-red: #C84E1E; // https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=C84E1E

@menu-bar-background-color: @steamboat-darkgoldengreen;
@menu-bar-selected-background-color: @steamboat-lightgoldengreen;

@header-bg-color: @body-bg-resp;
@header-bottom-color: @body-bg-resp;
@header-bottom-border-color: #DFE5EB;
@footer-top-border-color: #DFE5EB;
@header-height: 130px;

@home-search-top-color: @steamboat-goldengreen2;
@home-search-bottom-color: @steamboat-goldengreen2;

@browseCarouselControlBackgroundColor: @content-bg;
@browseCarouselControlColor: @steamboat-darkred;

// Home Page Browse Category Pagination Controls
@selectedbrowseCarouselPaginationBackgroundColor: @steamboat-darkred;
//TODO: add as a main variable

@browse-label-text-color: @steamboat-darkgoldengreen;
@selected-browse-label-search-color: @steamboat-darkgoldengreen;
@selectedCategoryColor: @steamboat-darkgoldengreen;
@selectedSubCategoryBackgroundColor: @steamboat-darkgoldengreen;

@category1MainColor: @content-bg;
@categoryLineColor: @content-bg;
@categoryLineShadow: @content-bg;
@selectedCategoryBorderColor: @content-bg;

// Menu 
@menu-bar-background-color: @steamboat-goldengreen2;
@menu-bar-selected-background-color: @steamboat-darkgoldengreen;

@accordion-active-header-bg-color: @steamboat-goldengreen3;
@sidebar-link-color:  #333;
@sidebar-label-background-color : @steamboat-darkgoldengreen2;

@btn-primary-bg: @steamboat-darkgoldengreen;

@title-color: @steamboat-darkgoldengreen;
@subsection-title-color: #333;

@archiveComponent-color: #6b6b6b;
@archiveComponentControl-background-color: #FFF;

@sidebar-button-bg-color: @steamboat-darkgoldengreen2;
@sidebar-label-background-color: @steamboat-darkgoldengreen2;

