// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

.header-login-button-mixin(@header-buttons-background-color, #333);
#header-container {
  background: #FFFFFF;
  border-bottom: none;
}
#header-logo {
  padding: 5px 5px 0 0;
  height: @header-logo-height;
  margin-left: -5px;
  max-height: inherit;
}
.system-message-header,
.system-message-header~.breadcrumbs,   // the google translate box
.container > div:nth-child(1).breadcrumbs // the google translate box when there is no system message
{
  background-color: @body-bg-resp;
}
// Browse Category customizations based on AnyThink


#anythink-browse-label(@browse-label-text-color);

.browse-category(@selectedCategoryColor);

#anythink-browse-category-picker(@browseCarouselControlColor, @selectedCategoryColor, @content-bg);

#anythink-selected-browse-label(@browse-label-text-color);



// MIXIN: Vertically Align cover images with the thumbnail block; up to a maximum size.  Thumbnail blocks will have a
// uniform height and fall into columns evenly.
.verticalAlignThumbnailArt();