// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

.header-login-button-mixin(@header-buttons-background-color);

.vertical-align-library-name-header;


// Adopting Nashville styling of browse categories
.nashville-selected-browse-label-search;

.hide-selected-browse-label-background;

#sacramento-browse-category(@selectedCategoryColor, @browse-category-font-size);

#browse-category-carousel .browse-category {
  &.selected button {
    color: #fff;
  }
}

#sacramento-browse-category-pickers(@browseCarouselControlColor);


/* this controls the subcategory menu button are and menu buttons on browse */
#browse-sub-category-menu {
  margin-top: 20px;

  .btn {
    padding: 6px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.hide-browse-category-results-divider;

// Remove gradients from accordions & facets; set a white background for body content //
#account-settings-accordion, #more-details-accordion, .sidebar-links, #account-settings-accordion {
  .panel-heading {
    background: @accordion-header-bg-color;
  }

  .active .panel-heading {
    background: @accordion-active-header-bg-color;
  }

  .panel, .panel-heading {
    border-radius: 0;
  }

  .panel-body {
    background-color: transparent;
    border: 1px solid #c5c5c5;
  }
}
