//@sacramento-navy: #4D5F79;
//@sacramento-pine: #84B199;
//@sacramento-bronze: #F1CB92;
//@sacramento-taupe: #E4DFDB;
//@sacramento-sage: #89A09E;


@folsom-dark-blue: #203f7f;
@folsom-light-blue: #72b1c9;
@folsom-hover-light-blue: #68B5DE;
@folsom-purple: #827daa;
@folsom-green:  #a1a161;
@folsom-red: #8e2a2b;
@folsom-light-orange: #fdc27e;

@folsom-hover-orange: #ffa134;

@marmot-dark-blue: #467E99;


@header-height: 100px;
@header-logo-height: @header-height;

@home-search-top-color: @folsom-dark-blue;
@home-search-bottom-color: @folsom-dark-blue;

@header-top-color: #ffffff;
@header-middle-color: #ffffff;
@header-bottom-color: #ffffff;

@library-display-name-color: @folsom-dark-blue;
@library-display-name-font: @font-family-sans-serif-resp;
@library-display-name-font-size: 25px;

@header-bottom-border-color: @folsom-light-blue;
@footer-top-border-color: @folsom-dark-blue;

@header-buttons-background-color: @folsom-green;
@home-page-login-background-color: @folsom-green;


@btn-primary-bg: @folsom-light-orange;
@btn-primary-color: #333;

@menu-bar-background-color: @folsom-light-blue;
@menu-bar-selected-background-color: @folsom-hover-light-blue;
@menu-bar-selected-color: @folsom-dark-blue;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #fff;
@browseCarouselControlColor: @folsom-light-orange;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @folsom-green;
@selectedSubCategoryBackgroundColor: @folsom-green;

// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;


@browse-label-text-color: @marmot-dark-blue;
@browse-category-text-color: @marmot-dark-blue;
@selected-browse-label-search-color: @marmot-dark-blue;
//@browse-category-font-size: 30px;

@more-browse-results-backgroundcolor: @folsom-purple;
@more-browse-results-color: #FFF;

@accordion-active-header-backgroundcolor: @folsom-hover-light-blue;
//@accordion-header-bg-color: @sacramento-taupe;
@accordion-header-top-gradient-color: @accordion-header-bg-color;
@accordion-header-bottom-gradient-color: @accordion-header-bg-color;


//No rounded corners
@border-radius-base:             0;
@border-radius-large:            0;
@border-radius-small:            0;
