// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

.header-login-button-mixin(#fff, @new-basalt-dark-red, 60px);  // best orange-ish buttons. plb 9-17-2014

// HEADER //
#header-container {
  border-bottom: 8px solid #fff;
  height: auto;
}
#header-logo {
  max-height: none;
}

a .header-button {
  font-weight: bold;
  font-size: 16px;

  &:hover {
    background-color: #fff;
    color: @new-basalt-dark-red;
  }
}





// MENU & SEARCH BAR //
#home-page-login {
  text-shadow: none;
}


// ADDITIONAL PADDING & WHITESPACE //
#main-content-with-sidebar {
  padding-left: 4rem;
  padding-top: 2rem;
}

// SIDEBAR //
#horizontal-search-wrapper + #content-container #home-page-login {
  margin-top: 15px;
}

.sidebar-button {
  //background: #909094;
  letter-spacing: .02em // TODO: this is likely too close for accessibility
}

#sidebar-content {
  //background: #fff;
  padding-top: 1.5rem;
}

// Accordion Styling

.panel {
  box-shadow: none;
}

.panel-title {
  //color: #fff;
  text-shadow: none;
  //letter-spacing: .1em;
}

//#more-details-accordion .panel-title {
//  color: #65656a;
//}
//
//#more-details-accordion .panel-heading {
//  background: #eeeeef;
//  border: none;
//}

//#more-details-accordion .active .panel-heading {
//  background: @copper-green
//}
//
//#more-details-accordion .active .panel-title {
//  color: #fff;
//}

#more-details-accordion .panel-body {
  color: #65656a;
  //background: #fff;
  line-height: 1.7em;
}

// Library admin accordion
.panel-default > .panel-heading {
  background: #b5b5ba;
}

//.sidebar-links .panel-body {
//  background: #fff;
//}

.sidebar-links .panel-heading {
  padding: 5px 15px;
  background: @copper-green;
  border-bottom: 1px solid #fff;
  text-shadow: none;
}

//.sidebar-links .active .panel-heading {
//  background: @copper-green
//}

.sidebar-links .panel.active > a, .sidebar-links .panel.active > a:hover, .sidebar-links .panel.active > a:visited,
.sidebar-links .panel > a, .sidebar-links .panel > a:hover, .sidebar-links .panel > a:visited {
  text-shadow: none;
}

.facetTitle {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-shadow: none;
}

// JCAROUSEL //
#browse-category-picker .jcarousel-control-next, #browse-category-picker .jcarousel-control-prev {
  background: #fff;
}

.jcarousel-control-prev, .jcarousel-control-next, .jcarousel-pagination {
  text-shadow: none;
  box-shadow: none;
}

.jcarousel-control-prev:hover, .jcarousel-control-next:hover, .jcarousel-pagination:hover {
  color: #ca602b;
}

// BROWSE CATEGORIES //
#browse-label {
  margin-top: 40px;
}

.browse-label-text {
  letter-spacing: .25em;
  text-decoration: underline;
}

#browse-category-carousel .browse-category {
  button {
    //color: #65656a;
    //border: none;

    &:hover {
      color: #fdb525;
      text-decoration: none;
      //border: none;

    }
  }

  &.selected {
    background-color: #fdb525;
    button {
      color: @dark-gray;
    }

    //:hover {
    //  color: @dark-gray;
    //}
  }
}


//li[id^="browse-category"], li[class^="browse-category category"] {
//  text-shadow: none;
//  padding: .5em;
//  background: #fff !important;
//  border: none;
//}
//
//li[id^="browse-category"], li[class^="browse-category category"]:hover {
//  color: #fdb525 !important;
//  text-decoration: none;
//  border: none;
//}
//
//li[id^="browse-category"], li[class$="selected"] div {
//  color: #fff;
//  background: #fdb525;
//  border-radius: .25em;
//  border: none !important;
//  padding: 5px;
//}
//
//li[id^="browse-category"], li[class$="selected"] div:hover {
//  color: #fff;
//}
//
//li[class$="selected"] {
//  color: #fdb525;
//  border: none !important;
//}


// FOOTER //
#more-browse-results {
  border: 1px solid #c7c9ca;
}


//  GENERAL  //
.h2, h2 {
  color: @new-basalt-dark-orange;
}

.browse-thumbnail, .browse-list { // TODO: Move into browse category main styling
  &:hover {
    box-shadow: 5px 5px 10px #DCDCDC;
  }
}


// IFRAME WIDGETS //
//div#titleScrollerSelectedTitleNewAdult2017 {
//  font-family: sans-serif;
//  color: #65656a;
//  font-size: 18px;
//  text-transform: uppercase;
//  margin-top: 15px;
//}
//
//div#listWidget408 .selected {
//  border-color: #fdb525;
//}

// --FORCEFUL!-- //
a:hover, a:focus {
  //text-decoration: none !important; // this is a bad idea for accessibility
  font-weight: bold;
}

// -- HEADER NAVIGATION -- //
div#header-links {
  margin-bottom: 25px;
  padding-top: 20px;
}

div.header-link-wrapper {
  border: none;
}

a.library-header-link {
  color: #65656a !important;
  text-transform: none;
  letter-spacing: .1em;
  font-weight: normal;
}

//a.library-header-link:hover {
//  //text-decoration: underline !important;
//}

