@mln2-dark-orange: #B56408;
@mln2-dark-green: #3A500A;
@mln2-light-gray: #CCC9C2;
@mln2-dark-gray: #858585;
@mln2-light-blue: #95D3F9;
@mln2-dark-blue: #24718B;



@home-search-top-color: @mln2-dark-green; //Top color for background gradient in header
@home-search-bottom-color: @mln2-dark-green;

@sidebar-link-color: @mln2-dark-blue;
@menu-bar-background-color: @mln2-dark-gray;
@menu-bar-selected-background-color: @mln2-dark-gray;

@header-bg-color: #fff;

@header-bottom-border-color: @mln2-dark-green;
@footer-top-border-color: @mln2-dark-green;

@header-buttons-background-color : @mln2-dark-green;

@btn-primary-bg: @mln2-dark-gray;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @mln2-dark-orange;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @mln2-dark-green;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


@browse-label-text-color: @mln2-dark-blue;
@browse-category-text-color: @mln2-dark-blue;
@selected-browse-label-search-color: @mln2-dark-blue;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-bg-color: @mln2-dark-blue;