// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

.header-login-button-mixin(@header-buttons-background-color,@westbrook-black);
.header-button {
  line-height: 50px !important;
}

#header-logo {
  //margin-top: 10px;
  padding: 0;
  //background-color: #fff;
  height: @header-logo-height;
  //border-radius: 0.5em;
}

.system-message-header {
  background-color: @body-bg-resp;
}
// Browse Category customizations based on AnyThink


#browse-label(@browse-label-text-color);


.browse-category(@selectedCategoryColor);

#anythink-browse-category-picker(@browseCarouselControlColor, @selectedCategoryColor, @content-bg);
#selected-browse-label {
  color: black; //TODO: set color
  background: none; //override line through label
  padding: 20px 0;
  border-top: 1px solid @browse-label-text-color;
}

.selected-browse-label-search {
  background: none;
}

#selected-browse-search-link{
  text-transform: uppercase;
}

#browse-sub-category-menu {
  button.selected {
    background-color: @selectedCategoryColor;
  }
}

// MIXIN: Vertically Align cover images with the thumbnail block; up to a maximum size.  Thumbnail blocks will have a
// uniform height and fall into columns evenly.
.verticalAlignThumbnailArt();