@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

@sen: "Sen", sans-serif;
@noto: "Noto Sans", sans-serif;

.sen-bold {
  font-family: @sen;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.noto-sans-bold {
  font-family: @noto;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.noto-sans-regular{
  font-family: @noto;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@font-family-base: @noto;
@font-family-sans-serif-resp: @noto;
@headings-font-family: @sen;
@headings-font-weight: 700;
@headings-color: #2D5D82;
@title-color: @headings-color;