@aurora-green: #6ABF4B;
@aurora-yellow: #F5D73F;
@aurora-dark-teal: #00758D;
@aurora-light-teal: #5BB0BD;

@font-family-sans-serif-resp: 'Verdana', sans-serif;

@aurora-main-menu-gray: #848484;
@aurora-light-gray: #EEEEEE;

@link-color-resp: #2970ca;
@link-hover-color: darken(@link-color-resp, 15%);

@home-search-top-color: @aurora-dark-teal; //Top color for background gradient in header
@home-search-bottom-color: @aurora-dark-teal;

@sidebar-link-color: #333333;

@accordion-header-bg-color: @aurora-dark-teal;
@accordion-header-top-gradient-color: @aurora-dark-teal;
@accordion-header-bottom-gradient-color:@aurora-light-teal;
@menu-bar-background-color: @aurora-dark-teal;
@menu-bar-selected-background-color: @aurora-green;

@header-top-color: #ffffff; //Top color for background gradient in header
@header-middle-color: #ffffff; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #ffffff; //Bottom color for background gradient in header

//@header-top-color: #ffc28e; //Top color for background gradient in header
//@header-middle-color: lighten(#ffc28e, 50%); //middle color for background gradient in header @80% of header height from bottom
//@header-bottom-color: #ffffff; //Bottom color for background gradient in header
@menu-bar-selected-color: #000000;

@header-bottom-border-color: @aurora-dark-teal;
@footer-top-border-color: @aurora-dark-teal;

@header-buttons-background-color : @aurora-green;
@header-buttons-color: #000000;
@btn-primary-bg: @aurora-green;

@category1MainColor: #ffffff;
@categoryLineColor: none;
@categoryLineShadow: none;
@selectedCategoryBorderColor: none;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @aurora-green;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @aurora-light-teal;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@browse-label-text-color: @aurora-dark-teal;
@browse-category-text-color: #333333;
@selected-browse-label-search-color: @aurora-dark-teal;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-backgroundcolor: @aurora-green;
@accordion-active-header-color: #000000;

@btn-primary-color: #000;