@blackstone-light-purple: #95548E;
@blackstone-dark-purple: #7C3B7B; // (7.58) https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=7C3B7B
@blackstone-very-light-green: #E1EAE5;
@blackstone-light-green: #C8DFCE;
@blackstone-green: #8FBC99;
@blackstone-light-blue: #82C1B5;

@blackstone-text-teal: #45b6b7;


@body-bg-resp: @blackstone-very-light-green;

  //@lion-light-blue: #9dd1f2;
//@lion-dark-blue: #130840;
//
//@lion-menu-blue: #74C1F2;


@header-height: 150px;
@header-logo-height: @header-height - 10px;
@header-logo-max-height: none;

@home-search-top-color: @blackstone-green;
@home-search-bottom-color: @blackstone-green;
@home-search-label-color: #333;

//@sidebar-link-color: @lion-light-blue;
@menu-bar-background-color: @blackstone-light-blue;
@menu-bar-selected-background-color: @blackstone-light-purple;
@menu-bar-color: #333;

@header-bg-color: @blackstone-light-purple;

//@header-bottom-border-color: @blackstone-dark-purple;
@header-bottom-border-color: @blackstone-light-purple;
@footer-top-border-color: @blackstone-dark-purple;


//@header-buttons-background-color : @blackstone-light-purple;
@header-buttons-background-color : @blackstone-dark-purple;
//@header-buttons-text-color : @blackstone-light-purple;

@btn-primary-bg: @blackstone-dark-purple;

@category1MainColor: #fff;
@categoryLineColor: #fff;
@categoryLineShadow: #fff;
@selectedCategoryBorderColor: #fff;

@browseCarouselControlBackgroundColor: #fff;
@browseCarouselControlColor: @blackstone-dark-purple;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @blackstone-green;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


//@browse-label-text-color: @blackstone-text-teal;
//@browse-category-text-color: @blackstone-text-teal;
//@selected-browse-label-search-color: @blackstone-text-teal;
@browse-label-text-color: #333;
@browse-category-text-color: #333;
@selected-browse-label-search-color: #333;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-bg-color: @blackstone-light-blue;
@accordion-active-header-color: #333;
@accordion-active-header-shadow-color: #fff;