// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

.header-login-button-mixin(@header-buttons-background-color);

#anythink-browse-label(@browse-label-text-color);

.browse-category(@selectedCategoryColor);

#anythink-browse-category-picker(@browseCarouselControlColor, @selectedCategoryColor, @content-bg);

#anythink-selected-browse-label(@browse-label-text-color);


.sidebar-links .panel-heading {
  background: #e7e7e7;
}

#account-link-accordion .active {
  .panel-title {
    color: @accordion-header-color;
    text-shadow: 1px 1px @accordion-header-shadow-color;
  }
  a:hover {
    text-decoration-color: @accordion-header-color;
  }
}

// Keep library sidebar links accordion headings the same as active
#link-accordion .active .panel-title {
  color: @accordion-header-color;
  text-shadow: 1px 1px @accordion-header-shadow-color;
}

.sidebar-button {
  padding: 7px 0;
}

