// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

.header-login-button-mixin(@header-buttons-background-color);



// Browse Category customizations based on AnyThink


#browse-label(@browse-label-text-color);


.browse-category(@selectedCategoryColor);

#anythink-browse-category-picker(@browseCarouselControlColor, @selectedCategoryColor, @content-bg);

#anythink-selected-browse-label(@browse-label-text-color);


.sidebar-links .panel-heading{
  background:#e7e7e7;
}
.panel{
  border:none;
  border-radius:0;
}

.panel-group .panel{
  border-radius:0;
}

.sidebar-button{
  padding: 7px 0;
}
#horizontal-search-box #lookfor {
  height: 34px!important;
}

