// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";


.header-login-button-mixin(@header-buttons-background-color, #000);

#anythink-browse-label(@browse-label-text-color);

.browse-category(@selectedCategoryColor);

#anythink-browse-category-picker(@browseCarouselControlColor, @selectedCategoryColor, @content-bg);

#anythink-selected-browse-label(@browse-label-text-color);

#header-logo {
  padding: 0;
  margin-top: 1.5em;
}


.sidebar-links .panel-heading {
  background: #e7e7e7;
}

#account-link-accordion .active {
  .panel-title {
    color: @accordion-header-color;
    text-shadow: 1px 1px @accordion-header-shadow-color;
  }
  a:hover {
    text-decoration-color: @accordion-header-color;
  }
}

#browse-label{
  background: @brand-body-bg;
}

// Keep library sidebar links accordion headings the same as active
#link-accordion .active .panel-title {
  color: @accordion-header-color;
  text-shadow: 1px 1px @accordion-header-shadow-color;
}

.sidebar-button {
  padding: 7px 0;
}

#advancedSearchLink{
  color: @brand-body-color;
}

.formatCategoryLabel{
  color: #000;
}
.result-head > div:nth-child(1){
  color: @brand-highlight-alternate;
}

.btn.btn-default {
  border: 1px solid @brand-secondary-alternate;
}

#browse-category-carousel .browse-category.category1, #browse-category-carousel .browse-category.category2, #browse-category-carousel .browse-category.category3, #browse-category-carousel .browse-category.category4, #browse-category-carousel .browse-category.category5, #browse-category-carousel .browse-category.category6, #browse-category-carousel .browse-category.category7, #browse-category-carousel .browse-category.category8, #browse-category-carousel .browse-category.category9{
  border:none;
}