@marmot-dark-orange: #D6430A; // https://webaim.org/resources/contrastchecker/?fcolor=D6430A&bcolor=FFFFFF
//@marmot-light-orange: #EA7315;
//@marmot-light-blue: #5891AA;
@marmot-light-blue: #457D9C;  // 4.5 contrast against #FFF https://webaim.org/resources/contrastchecker/?fcolor=457D9C&bcolor=FFFFFF
//@marmot-dark-blue: #457D9C;  // 4.5 contrast against #FFF https://webaim.org/resources/contrastchecker/?fcolor=457D9C&bcolor=FFFFFF
@marmot-dark-blue: #2D5D82;  // 7 contrast against #FFF https://webaim.org/resources/contrastchecker/?fcolor=2D5D82&bcolor=FFFFFF

@marmot-main-menu-gray: #848484;
@marmot-light-gray: #EEEEEE;



@home-search-top-color: @marmot-dark-blue; //Top color for background gradient in header
@home-search-bottom-color: @marmot-light-blue;

@sidebar-link-color: @marmot-light-blue;
@menu-bar-background-color: @marmot-dark-blue;
@menu-bar-selected-background-color: @marmot-dark-orange;

@header-bg-color: #fff;

@header-bottom-border-color: @marmot-dark-blue;
@footer-top-border-color: @marmot-dark-blue;


@header-buttons-background-color : @marmot-dark-orange;

@btn-primary-bg: @marmot-light-blue;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @marmot-dark-orange;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @marmot-dark-orange;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


@browse-label-text-color: @marmot-dark-blue;
@browse-category-text-color: @marmot-dark-blue;
@selected-browse-label-search-color: @marmot-dark-blue;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-bg-color: @marmot-dark-orange;
//@accordion-active-header-color: @accordion-header-color;
//@accordion-active-header-shadow-color: #fff;

@panel-border-radius: 0;