// Core variables and mixins
@import (reference)  "../../responsive/css/variables.less";
@import (reference)  "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

#header-container {
  background: none;
}

.header-login-button-mixin(rgba(51,51,51,0.4), #fff, 0, 30px);

#header_black {
  background: black;
  border: 5px solid black;
  //width: 100%; // not needed. provided by col-tn-12 or col-xs-12
}

#header_library {
  line-height: 21px;
  background: linear-gradient(#007A53, #014731);
  padding: 20px;
  //width: 100%; not needed
  margin: 0;
  height: 64px;
}

@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.nielsenlibrarytxt {
  &,&:visited {
    color: #ffffff;
  }
  &:hover, &:active,&:focus {
    color: black;
  }
  height: auto;
  font-family: 'Special Elite', serif ;
  font-size: 2.5em;
  font-variant: small-caps;
  margin: .25em 0 .35em;
  text-decoration: none;
}

/* Search Bar CSS Changes */

// Setting  @home-search-top-color & @home-search-bottom-color make this unneeded
//#horizontal-search-box {
//  background-color: #006648;
//  background: -webkit-linear-gradient(top,#006648,#004d36);
//  background: linear-gradient(to bottom,#006648,#004d36);
//  padding: 15px 0;
//}

/* Facets CSS Changes */

#home-page-login {
  background-color: #fff;
  color: #808080;
  //text-shadow: 2px 2px #fff;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 5px;

  a {
    color: #000000;
  }
}

.sidebar-button {
  background-color: #fff;
  background: linear-gradient(to bottom,#e7e7e7,#d7d7d7);
  color: #000000;
  padding: 3px 0;
  margin-bottom: 15px;
}

#sidebar-content {
  background-color: #fff;
}

.sidebar-links .panel-heading {
  padding: 5px 15px;
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

.sidebar-links .active .panel-heading {
  background-color: #fff;
}

#results-sort-label {
  text-align: center;
  background-color: #fff;
  background: linear-gradient(to bottom,#fff,#fff);
  color: #000000;
  padding: 3px 0;
  margin-top: 20px;
  font-size: 14px;
}

#narrow-search-label,.sidebar-label {
  text-align: center;
  background-color: #fff;
  background: linear-gradient(to bottom,#fff,#fff);
  color: #000000;
  padding: 3px 0;
  margin-top: 20px;
}

.facetValue {
  padding: 0 0 0 30px;
  color: #000000;
  font-size: small;
  a {
    color: #000000;
  }
}

.facetTitle {
  background-color: #fff;
  background: linear-gradient(to bottom,#fff,#fff);
  color: #000000;
  font-weight: bold;
  padding: 8px 30px 6px 15px;
  border-bottom: 1px solid #fff;
}

// Details Page CSS Changes //

#more-details-accordion {
  .panel-heading {
    padding: 5px 15px;
    background: #fff;
    background: linear-gradient(to bottom,#fff,#fff);
  }

  .active .panel-heading {
    background-color: #fff;
    background: linear-gradient(to bottom, #fff, #fff);
  }

  .panel-title {
    color: #333;
    text-shadow: 1px 1px #fff;
  }

  .active .panel-title {
    color: #000000;
    text-shadow: 1px 1px #fff;
  }

  .panel-body {
    font-size: 14px;
    color: #000000;
    background-color: #fff;
  }
}
/* Prospector CSS Changes */

.result {
  border-bottom: 2px solid #d5d6da;
  padding: 10px 5px 15px;
  font-size: 14px;
}

#prospectorSearchResultsPlaceholder  {
  background-color: #F4EAE4; // https://webaim.org/resources/contrastchecker/?fcolor=6B6B6B&bcolor=F4EAE4
}