// Core variables and mixins
@import (reference)  "../../responsive/css/variables.less";
@import (reference)  "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

#header-container {
  background: none;
}

.header-login-button-mixin(@asu-green, #fff, 6px, 45px);


#header_library {
  line-height: 21px;
  background: @asu-gray;
  padding: 20px;
  //width: 100%; // not needed
  margin: 0;
  height: 100px;
}

@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.nielsenlibrarytxt {
display:none;
}
#horizontal-search-box .searchSourceHorizontal, #horizontal-search-box .searchTypeHorizontal #searchSource{
  border: 1px solid #ccc;
}

.sidebar-button {

  background: rgba(0,0,0,.35);
  color: #000;
  padding: 3px 0;
  margin-bottom: 15px;
}

#account-link-accordion {
  .accordion-headers-and-titles(#e7e7e7; @asu-green);
}

#results-sort-label {
  text-align: center;
  background: #eee;
  color: #000;
  padding: 3px 0;
  margin-top: 20px;
  font-size: 14px;
}

.facetTitle {
  font-weight: bold;
  //border-bottom: 1px solid #c5c5c5;
  border-bottom: none;
}

.facetDetails {
  border: 1px solid #f4f4f4;
  //border-bottom: 1px solid #c5c5c5;
}

.facetValue {
  //padding: 0 0 0 30px;
  //color: #000;
  //font-size: small;
  a {
    //color: #000; // Needs to be distinguishable from text
  }
}
// Details Page CSS Changes //

#more-details-accordion {
  .accordion-headers-and-titles(#fff, #fff, #333, #000, none, none);
  /*.panel-group*/ .panel-heading {
    //border-bottom: 1px solid #c5c5c5;
    border: 1px solid #c5c5c5;
  }

  //.panel-title {
  //  color: #333;
  //  text-shadow: none;
  //}
  //
  //.active .panel-title {
  //  color: #000;
  //  text-shadow: none;
  //}

  .panel-body {
    font-size: 14px;
    color: #000;
    //background-color: #fff;
  }
}

.sidebar-links .panel-body{
    background: #fff;
    //background-color: #fff;
}

// Prospector CSS Changes //

.result {
  border-bottom: 2px solid #d5d6da;
  padding: 10px 5px 15px;
  font-size: 14px;
}

//#prospectorSearchResultsPlaceholder { // original selector
#prospectorSearchResultsSection {
  background-color: #F4EAE4; // https://webaim.org/resources/contrastchecker/?fcolor=6B6B6B&bcolor=F4EAE4
  a {
    color: @darkened-link-color-resp; // https://webaim.org/resources/contrastchecker/?fcolor=3B679A&bcolor=F4EAE4
  }
}
#horizontal-search-box #horizontal-search-label{
 color: #333;
}

#keepFiltersSwitchLabel, #advancedSearchLink{
  color: #333;
}

#home-page-login{
  border-bottom: 1px solid rgba(0,0,0,.35);
}

#header-logo{
  max-height: 4em;
}

#vertical-menu-bar .menu-bar-option.menu-icon-selected .menu-bar-label{
  color:#444444;
}

#vertical-menu-bar .menu-bar-option.menu-icon-selected .menu-icon img {
    filter: invert(80%);
}