//Variables Customizations for Adams State theme
@asu-light-green: #007A53;
@asu-green: #014731;

@menu-bar-background-color: @asu-light-green;
@menu-bar-selected-background-color: @asu-green;

@header-height: 114px;
//@header-bottom-border-color: darken(@asu-green, .8);
@header-bottom-border-color: #000;

@home-search-top-color: #006648;
@home-search-bottom-color : #004d36;

@home-page-login-background-color: #fff;
@home-page-login-color: #000;

@explore-more-sidebar-body-bg-color: #fff; // Used for # sidebar-content

@accordion-active-header-bg-color: @asu-green;
//@accordion-header-bg-color: #fff;

@category1MainColor: @asu-green;
@categoryLineColor: @asu-light-green;
@categoryLineShadow: @asu-light-green;

// Primary Button Color
@btn-primary-bg: @asu-green;

@sidebar-label-color: #000;
@sidebar-label-background-color: #fff; // (AAA) https://webaim.org/resources/contrastchecker/?fcolor=000000&bcolor=FFFFFF


// Search Results
@facetTitle-bg-color: #fff;
@facetTitle-color: #000;