//Variables Customizations for Adams State theme
@asu-tan: #e9e0daeb;
@asu-light-green: #008061cc;
@asu-green: #008061;
@asu-gray: rgba(0, 0, 0, 0.35);
@asu-dark-gray:rgba(0,0,0,.6);

@menu-bar-background-color: @asu-dark-gray;
@menu-bar-selected-background-color: @asu-tan;

@header-height: 107px;
//@header-bottom-border-color: darken(@asu-green, .8);
@header-bottom-border-color: @asu-tan;

@home-search-top-color: @asu-tan;
@home-search-bottom-color : @asu-tan;

@home-page-login-background-color: #eee;
@home-page-login-color: #000;

@explore-more-sidebar-body-bg-color: #eee; // Used for # sidebar-content

@accordion-active-header-bg-color: @asu-green;
@accordion-header-bg-color: #fff;

@category1MainColor: @asu-green;
@categoryLineColor: @asu-light-green;
@categoryLineShadow: @asu-light-green;

// Primary Button Color
@btn-primary-bg: @asu-green;

@sidebar-label-color: #000;
@sidebar-label-background-color: #fff; // (AAA) https://webaim.org/resources/contrastchecker/?fcolor=000000&bcolor=FFFFFF

// Search Results
@facetTitle-bg-color: #fff;
@facetTitle-color: #000;

@explore-more-sidebar-color: #fff;

