// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

#header-logo {
  //max-width: 100%;
  //max-height: none;
}

.loginOptions > a#headerLoginLink, .logoutOptions > .hidden-xs {
  float: right;
  width: 200px;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(0.9);
  }
}

a .header-button {
  border-radius: 50px;
  border: none;
  text-shadow: none;

  &:hover {
    border: none;
  }
}

