// Variables Customizations for Garfield County theme
@garfieldBlue: #0078ae;
@garfieldGreen: #28ab75;
@garfieldPurple: #694d71;
@garfieldYellow: #ffbc30;
@garfieldLightBlue: #73b5d3;
@garfieldRed: #ef5b4e;

@browseCarouselControlBackgroundColor: #ffffff;

@category1MainColor: @garfieldGreen;
@categoryLineColor: transparent;
@categoryLineShadow: none;
@selectedCategoryColor: #FFF;

@header-bg-color: #fff;
@header-bottom-border-color: @garfieldBlue;

// set all browse category colors to the first color to remove lightening of successive categories. plv 9-17-2014
@category2MainColor: @garfieldPurple;
@category3MainColor: @garfieldYellow;
@category4MainColor: @garfieldBlue;
@category5MainColor: @garfieldRed;
@category6MainColor: @garfieldLightBlue;
@category7MainColor: @category1MainColor;
@category8MainColor: @category2MainColor;
@category9MainColor: @category3MainColor;


// Selected Category border color to highlight Selected category
//@selectedCategoryBorderColor: lighten(@garfieldBrown, 30%); //softer touch
@selectedCategoryBorderColor: @garfieldBlue;

@header-buttons-background-color : @garfieldBlue;

@menu-bar-background-color: @garfieldBlue;
//@menu-bar-selected-background-color: @garfieldBrown;

@home-search-top-color: @garfieldBlue;
@home-search-bottom-color: @garfieldBlue;
@home-search-bottom-color: @garfieldBlue;