// Variables Customizations for Grand County Library District
@gcldGreen: #8DC532; //
@gcldDarkBlue: #003A68; // (11.63 (AAA)) https://webaim.org/resources/contrastchecker/?fcolor=003A68&bcolor=FFFFFF

@header-button-height: 82px;
@header-button-color: @gcldDarkBlue;
@header-button-hover-color: @gcldDarkBlue;
@header-button-bg-color: @gcldGreen;
@header-button-hover-bg-color:@gcldGreen;


@home-search-top-color: @gcldDarkBlue;
@home-search-bottom-color: @gcldDarkBlue;

@browse-label-line-color: @gcldDarkBlue;
@category1MainColor: @gcldDarkBlue;

@selectedCategoryBorderColor: @gcldDarkBlue;

@more-browse-results-color: #C7C9CA;
@more-browse-results-bg-color: #fff;

@breadcrumb-bg: @body-bg-resp;

@footer-top-border-color: #003A68;

// Search Results
@facetTitle-bg-color: #fff;
@facetTitle-color: @gcldDarkBlue;
@facetTitle-color: @gcldDarkBlue;