// Variables Customizations for Grand County Library District

@gcldDarkBlue: #003A68;


// Selected Category color to give a highlighted appearance
@selectedCategoryColor: lighten(@category1MainColor, 14%); //softer touch

@breadcrumb-bg: @body-bg-resp;

@footer-top-border-color: #003A68;