//Variables Customizations for Lake County theme

@lake-county-dark-green: #355F2E;
@lake-county-light-green: #9BBA90;
@lake-county-off-white: #F9F9F0;
@lake-county-purple: #9078A0;
@lake-county-dark-purple: #453451;

@lake-county-header-text-purple: #614278;
@lake-county-header-text-green: #355F2E;
@lake-county-text-green: #355F2E;

@header-top-color: #FFF; //Top color for background gradient in header
@header-middle-color: #FFF; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #FFF; //Bottom color for background gradient in header
@header-bottom-border-color: #FFF;
//@footer-top-border-color: @copper-green;

@header-height: 120px;

@home-search-top-color: @lake-county-dark-green;
@home-search-bottom-color: @lake-county-dark-green;

@home-page-login-background-color: lighten(@home-search-bottom-color, 5%);

@btn-primary-bg: @lake-county-dark-purple;

@menu-bar-background-color: @lake-county-light-green;
@menu-bar-selected-background-color: @lake-county-dark-green;

@category1MainColor: @lake-county-off-white;
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;


@categoryLineColor: @category1MainColor;
@categoryLineShadow: @category1MainColor;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @lake-county-purple;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;
//@selectedCategoryBorderColor: @pitkin-sidebar-menu-gray;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @lake-county-dark-purple;
@browse-category-text-color: @lake-county-header-text-purple;
@browse-label-text-color: @lake-county-header-text-green;
@browse-label-line-color: @lake-county-light-green;
//@browse-label-line-color: @content-bg;

// set opened accordions to Basalt copper-rust color
@accordion-active-header-backgroundcolor : @lake-county-dark-green;
