// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

.header-login-button-mixin(@header-buttons-background-color);
//#header-container {
//  //background: linear-gradient(to bottom, #E2E3E5, #E2E3E5 73%, #D4D5D9 73%, #D4D5D9); // grandient to match logo
//  background: linear-gradient(to bottom, #E2E3E5, #E2E3E5 104px, #D4D5D9 104px, #D4D5D9);
//}
#header-logo {
  //padding-top: 0;
  padding: 0;
  height: @header-logo-height;
}

// Browse Category customizations based on AnyThink


#browse-label(@browse-label-text-color);


.browse-category(@selectedCategoryColor);

#anythink-browse-category-picker(@browseCarouselControlColor, @selectedCategoryColor, @content-bg);

#anythink-selected-browse-label(@browse-label-text-color);

#browse-sub-category-menu {
  button.selected {
    background-color: @selectedCategoryColor;
  }
}

// MIXIN: Vertically Align cover images with the thumbnail block; up to a maximum size.  Thumbnail blocks will have a
// uniform height and fall into columns evenly.
.verticalAlignThumbnailArt();