@lion-light-blue: #9dd1f2;
@lion-dark-blue: #130840;
@lion-menu-blue: #74C1F2;

@new-lion-logo-gold: #F6A630;
@new-lion-gold:#EBC676;
@new-lion-purple:#6E4555;
//@new-lion-purple:#774C60;
@new-lion-gray:#8F9888;

@--e-global-color-primary:#6E4555;
@--e-global-color-secondary:#8F9888;
@--e-global-color-text:#756E62;
@--e-global-color-accent:#EBC676;
@--e-global-color-5c44fa77:#F8DFB0;
@--e-global-color-660c2c1:#EBC676;
@--e-global-color-2bbf4110:#000;
@--e-global-color-253bb082:#FFF;

@header-height: 150px;
@header-logo-height: 130px;
//@header-logo-height: @header-height;

// Page Background Variables
//@body-bg: @santafe-easier-to-read-white;
//@content-bg: @santafe-easier-to-read-white;
//@body-bg-resp: @brainerd-tan;


@home-search-top-color: @new-lion-gray; //Top color for background gradient in header
@home-search-bottom-color: @new-lion-gray;

//@sidebar-link-color: @lion-light-blue;
@menu-bar-background-color: @new-lion-gray;
@menu-bar-selected-background-color: @new-lion-gold;

@header-bg-color: #fff;

@header-bottom-border-color: #fff;
@footer-top-border-color: @new-lion-gray;


@header-buttons-background-color : @new-lion-purple;

@btn-primary-bg: @new-lion-purple;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @new-lion-gold;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @new-lion-gold;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


@browse-label-text-color: @lion-dark-blue;
@browse-category-text-color: @lion-dark-blue;
@selected-browse-label-search-color: @lion-dark-blue;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-bg-color: @new-lion-purple;