//@lion-light-blue: #9dd1f2;
//@lion-dark-blue: #130840;
//@lion-menu-blue: #74C1F2;

//@wheeler-light-blue: #ACC9C9;
//@wheeler-dark-green: #215959;
//@wheeler-menu-red: #6D0D21;
//@wheeler-menu-selected-yellow: #F4CD8B;
//@wheeler-menu-selected-darkened-yellow: #F4CD8B;
//@wheeler-main-content-light-brown: #EBE4DE;
//@wheeler-side-bar-dark-brown: #D2CBC5;

@wheeler-blue: #100d56;
@wheeler-light-green: #a9d689;
@wheeler-muted-green: #809B61;
@wheeler-purple: #9556a4;
@wheeler-yellow: #f2c719;


@header-height: 100px;
@header-logo-height: 95px;

@home-search-top-color: @wheeler-light-green;
@home-search-bottom-color: @wheeler-muted-green;

//@sidebar-link-color: @lion-light-blue;
@menu-bar-background-color: @wheeler-light-green;
@menu-bar-selected-background-color: @wheeler-muted-green;

@header-top-color: #fff;
@header-middle-color: #fff;
@header-bottom-color: #fff;

@header-bottom-border-color: #fff;
@footer-top-border-color: @wheeler-blue;


@home-page-login-background-color: @wheeler-blue;
/*@home-page-login-color: */

@header-buttons-background-color : @wheeler-muted-green;

@btn-primary-bg: @wheeler-muted-green;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @wheeler-muted-green;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @wheeler-light-green;
@selectedSubCategoryBackgroundColor: @wheeler-light-green;


// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@browse-label-text-color: @wheeler-blue;
@browse-category-text-color: @wheeler-blue;
@selected-browse-label-search-color: @wheeler-blue;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-backgroundcolor: @wheeler-light-green;


@library-display-name-color: @wheeler-blue;