@lion-light-blue: #9dd1f2;
@lion-dark-blue: #130840;
@lion-menu-blue: #74C1F2;

@clark-off-white: #F8F8F8;
@clark-dark-blue: #78A5B6;
@clark-light-blue: #B9CADC;

@clark-text-color: #333;


@header-height: 150px;
@header-logo-height: @header-height - 5px;
@header-logo-max-height: none;

@home-search-top-color: @clark-dark-blue; //Top color for background gradient in header
@home-search-bottom-color: @clark-dark-blue;
@home-search-label-color: @lion-dark-blue;

//@sidebar-link-color: @lion-light-blue;
@menu-bar-background-color: @clark-dark-blue;
@menu-bar-selected-background-color: @clark-light-blue;
@menu-bar-selected-color: @lion-dark-blue;
@menu-bar-color: @lion-dark-blue;

//@header-bg-color: #fff; //Top color for background gradient in header

//@header-bottom-border-color: @clark-light-blue;
@header-bottom-border-color: #fff;
@footer-top-border-color: @clark-light-blue;


@header-buttons-background-color : @clark-dark-blue;

@btn-primary-bg: @clark-dark-blue;
@btn-primary-color: @lion-dark-blue;

@category1MainColor: #fff;
@categoryLineColor: #fff;
@categoryLineShadow: #fff;
@selectedCategoryBorderColor: #fff;

@browseCarouselControlBackgroundColor: #fff;
@browseCarouselControlColor: @lion-dark-blue;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @clark-light-blue;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;
@selectedSubCategoryFontColor: @lion-dark-blue;


@browse-label-text-color: @lion-dark-blue;
@browse-category-text-color: @lion-dark-blue;
@selected-browse-label-search-color: @lion-dark-blue;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-bg-color: @clark-light-blue;
@accordion-active-header-color: @lion-dark-blue;
@accordion-active-header-shadow-color: #fff;