@lion-light-blue: #9dd1f2;
@lion-dark-blue: #130840;
@lion-menu-blue: #74C1F2;

@mitchell-gray: #5E5E5E;

@mitchell-red: #ff0000; //TODO: use @accessible-red


@header-height: 150px;
@header-logo-height: 131px;

// Page Background Variables
//@body-bg: @santafe-easier-to-read-white;
//@content-bg: @santafe-easier-to-read-white;
//@body-bg-resp: @brainerd-tan;


@home-search-top-color: @mitchell-gray;
@home-search-bottom-color: @mitchell-gray;

//@sidebar-link-color: @lion-light-blue;
@menu-bar-background-color: @mitchell-gray;
@menu-bar-selected-background-color: @mitchell-red;

@header-bg-color: #fff;

@header-bottom-border-color: @mitchell-red;
@header-bottom-border-width: 2px;
@footer-top-border-color: @mitchell-gray;

@library-display-name-color: @mitchell-gray;

@header-buttons-background-color : #333;

@btn-primary-bg: #333;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @mitchell-red;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: #000;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


@browse-label-text-color: #000;
@browse-category-text-color: #000;
@selected-browse-label-search-color: #000;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-bg-color: @mitchell-gray;