//Variables Customizations for Steamboat Schools theme
@steamboatschools-red: #E50000;

@library-display-name-color: #484C4E;
@library-display-name-font-size: 27px;

@home-search-top-color: @steamboatschools-red;
@home-search-bottom-color: @steamboatschools-red;

@category1MainColor: #fff;
@categoryLineColor: #fff;
@categoryLineShadow: #fff;
@selectedCategoryBorderColor: @steamboatschools-red;

// Selected Category color to give a highlighted appearance
@jcarousel-item-border-color: #d7d7d7;
//@selectedCategoryColor: @steamboatschools-red;
@selectedSubCategoryBackgroundColor: @steamboatschools-red;
//@selectedSubCategoryFontColor: #333;
@browseCarouselControlBackgroundColor: #fff;
@browseCarouselControlColor: @steamboatschools-red;

@browse-label-text-color: #333;
@browse-category-text-color: #333;
@selected-browse-label-search-color: #333;
@browse-category-font-size: 18px;

// More browse results buttons
@more-browse-results-backgroundcolor: @steamboatschools-red;
@more-browse-results-color: #fff;

//@header-bottom-border-color: lighten(#484C4E, 25%);
//@footer-top-border-color: lighten(#484C4E, 25%);

@btn-primary-bg: @steamboatschools-red;

@accordion-active-header-bg-color: @steamboatschools-red;