//Variables Customizations for Steamboat Schools theme
@header-bg-color: #fff;

@library-display-name-color: #484C4E;

@header-bottom-border-color: lighten(#484C4E, 25%);
@footer-top-border-color: lighten(#484C4E, 25%);

@library-display-name-font-size: 27px;