@spl-green: #7ebe38;
@spl-gray: #a9aba9;
@spl-black: #000;
@spl-purple: #52499c;
@spl-orange: #f3b72d;

@spl-dark-purple: #38345A;

@spl-other-gray: #F0EFEF;

@header-height: 110px; // the min height
@header-logo-height: 49px;

//set in responsive/variables @accordion-header-bg-color:#e7e7e7;
@home-search-top-color: @spl-other-gray;
@home-search-bottom-color:@spl-other-gray;
@home-search-label-color: @spl-black;

@home-page-login-background-color: @spl-orange;
@home-page-login-color: #000;

@header-buttons-background-color: @spl-orange;
@header-buttons-color: @spl-black;

@header-top-color: #ffffff; //Top color for background gradient in header
@header-middle-color: #ffffff; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #ffffff; //Bottom color for background gradient in header


@library-display-name-color: @spl-black;
@library-display-name-font: @font-family-sans-serif-resp;
@library-display-name-font-size: 25px;

@header-bottom-border-color: #fff;
@footer-top-border-color: @spl-gray;

@btn-primary-bg: @spl-green;
@btn-primary-color: #333;

@menu-bar-background-color: @spl-gray;
@menu-bar-selected-background-color: @spl-purple;
//@menu-bar-selected-color: #fff;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@jcarousel-item-border-color: #d7d7d7;
@browse-header-background-color: @spl-other-gray;
@browseCarouselControlBackgroundColor: #fff;
@browseCarouselControlColor: @spl-green;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @spl-green;
@selectedSubCategoryBackgroundColor: @spl-green;

// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;


@browse-label-text-color: @spl-black;
@browse-category-text-color: @spl-black;
@selected-browse-label-search-color: @spl-black;
//@browse-category-font-size: 20px;

@more-browse-results-backgroundcolor: @spl-green;
@more-browse-results-color: #FFF;

@accordion-header-bg-color: @spl-other-gray;
@accordion-active-header-backgroundcolor: @accordion-header-bg-color;
@accordion-header-top-gradient-color: @accordion-header-bg-color;
@accordion-header-bottom-gradient-color: @accordion-header-bg-color;
@accordion-active-header-color: @gray-dark; // same as when closed;

//No rounded corners
@border-radius-base:             0;
@border-radius-large:            0;
@border-radius-small:            0;

@sidebar-label-color: #000;
@sidebar-label-background-color: #C6C6C6;

@breadcrumb-bg: @spl-other-gray;