// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

// Main Styling for Pine River Library

.header-login-button-mixin(@pineriverdarkblue);

a .header-button:hover {
  background: @pinerivergrey;
}

//.header-login-button-mixin;


#header-logo {
  padding: 0;
}

.browse-category.selected {
  background: @selectedCategoryColor;
}