// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

// Main Styling for Pine River Library

#header-container{

}

.header-login-button-mixin(@pineriverblue);

.header-button:hover{
  background: @pinerivergrey;
}
//.header-login-button-mixin;


#header-logo{
padding:0;
}


// mixin to select all the typical states of <a> like tags
.allLinkstates(@rules) {
  &, &:hover, &:active, &:visited {
    @rules();
  }
}

// Browse Category Arrows
#browse-category-picker {
  .jcarousel-control-prev, .jcarousel-control-next {
    background-color: #fff;
    color: @pinerivergrey;
    .box-shadow(none);

    &:active, &:hover {
      color: @pineriverblue;
    }
  }

  // indicator dots at bottom of browse category carousel
  .jcarousel-pagination a {
    &.active {
      background: @pinerivergrey;
      // keep shadowing in place on active item
      .box-shadow(0 0 2px #4E443C);
    }
    &:hover, &:active{
      background: @pineriverblue;
    }
//    .allLinkstates({
//      outline: none;
//    })
  }
}

.library-header-link {
  .allLinkstates({color: white;});


}
.header-link-wrapper {
  background-color: rgba(51,51,51,0.6);
  border-right: none;
}
#header-links {
  margin-top: 10px;
}

#vertical-menu-bar .menu-bar-option.menu-icon-selected {
  background-color: @pineriverblue;
}
#vertical-menu-bar .menu-bar-option.menu-icon-selected .menu-bar-label {
  color: #FFF;
}

.system-message-header {
  background:@pineriverbrown;
  color: #fff;
  padding: 10px;
}