//Variables Customizations for Pine River theme
@pinerivergreen: #A3B650;
@pineriverblue: #588299;
@pinerivergrey: #828386;
@pineriverbrown: #f0ad4e;

// Header
@header-top-color : #fff;
@header-middle-color : #fff;
@header-bottom-color : #fff;
@header-bottom-border-color: #fff;

//@header-height: 141px;

// Border Lines
@header-bottom-border-color: @pinerivergreen;
@footer-top-border-color: @pinerivergrey;


// Search Box
@home-search-top-color: @pinerivergreen; //Top color for background gradient in header
@home-search-bottom-color: @pinerivergreen;

// Browse Category
//@category1MainColor: @pinerivergreen;
//@categoryLineColor: @pinerivergrey;
//@categoryLineShadow: @pinerivergreen;
//@selectedCategoryBorderColor: @pinerivergrey;

@category1MainColor: @pineriverblue;
@categoryLineColor: @pineriverblue;
@categoryLineShadow: @pineriverblue;

@browse-label-text-color: @pinerivergrey;
@selected-browse-label-search-color: @pinerivergrey;
@browse-label-line-color: fade(@pinerivergrey, 50);
@browse-header-background-color: #fff;

@selectedCategoryBorderColor: @pinerivergrey;

  // Sidebar Accordion
@accordion-active-header-bg-color: @pinerivergreen;

@menu-bar-background-color: @pinerivergreen;
