// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

.header-login-button-mixin(@header-buttons-background-color);
.header-button {
  text-transform: uppercase;
}

#header-logo {
  padding: 0;
  //margin-top: 5px;
  //border-radius: 4px;
  height: @header-logo-height;
  //background-color: @logo-background-color;
}

.system-message-header,
.system-message-header ~ .breadcrumbs, // the google translate box
.container > div:nth-child(1).breadcrumbs // the google translate box when there is no system message
{
  background-color: @body-bg-resp;
}

//.vertical-align-library-name-header;

// Adopting Nashville styling of browse categories
.nashville-selected-browse-label-search;

.hide-browse-label;

#sacramento-browse-category(@selectedCategoryColor, @selectedCategoryColor, @browse-category-font-size);

#browse-category-carousel .browse-category.selected div {
  color: #FFF;
}

#sacramento-browse-category-pickers(@browseCarouselControlColor);


/* this controls the subcategory menu button are and menu buttons on browse */
#browse-sub-category-menu {
  margin-top: 20px;

  .btn {
    padding: 6px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.hide-browse-category-results-divider;

// Remove gradients from accordions & facets; set a white background for body content //
#account-settings-accordion, #more-details-accordion, .sidebar-links, #account-settings-accordion {
  .panel-heading {
    background: @accordion-header-bg-color;
  }

  .active .panel-heading {
    background: @accordion-active-header-bg-color;
  }

  .panel, .panel-heading {
    border-radius: 0;
  }

  .panel-body {
    background-color: transparent;
    border: 1px solid #c5c5c5;
  }
}

// Search Box Modifications
#home-page-search-label {
  text-shadow: none;

  .glyphicon-search {
    display: none;
  }
}


#more-details-accordion {
  .active {
    .panel-title {
      color: @accordion-active-header-color;
      //text-shadow: 1px 1px #fff;
    }
  }
}

.sidebar-links {
  .panel {
    &.active {
      & > a { // keep the title's link underlining the same color as the title
        // these end up applying to content in .active div.panel-title
        &, &:visited, &:hover {
          //text-shadow: 1px 1px #fff;
        }
      }
    }
  }
}