// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

.header-login-button-mixin(@header-buttons-background-color);

//.vertical-align-library-name-header;

// Adopting Nashville styling of browse categories
.selected-browse-label-search {
  margin-left: 0;
  float: left;
  padding: 0 3px;
  font-weight: 600;
}

.hide-browse-label;

#browse-category-carousel .browse-category {
  text-shadow: none;
  padding: 0;
  margin-left: 1px;
  margin-right: 1px;
  height: 60px;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid #d7d7d7;

  div {
    height: 60px;
    padding: 15px;
    //font-size: 20px;
    &:hover {
      text-decoration: none;
    }
  }

  &.selected div {
    background: @selectedCategoryColor;
    color: #fff;
    font-size: @browse-category-font-size;

    &:hover {
      background: @selectedCategoryColor;
    }
  }

  &:hover {
    background: #E4E4E4;
    border: 1px solid #d7d7d7;
    //text-decoration: none;
    transition: all .3s ease-in-out;
  }

}

#sacramento-browse-category-pickers(@browseCarouselControlColor);


/* this controls the subcategory menu button are and menu buttons on browse */
#browse-sub-category-menu {
  margin-top: 20px;

  .btn {
    padding: 6px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

#home-page-browse-results hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0 solid #eee;
}


.panel-title {
  font-size: 16px;
}

// Remove gradients from accordions & facets; set a white background for body content //
#account-settings-accordion, #more-details-accordion, .sidebar-links, #account-settings-accordion {
  .panel-heading {
    background: @accordion-header-bg-color;
  }

  .active .panel-heading {
    background: @accordion-active-header-backgroundcolor;
  }

  .panel, .panel-heading {
    border-radius: 0;
  }

  .panel-body {
    background-color: transparent;
    border: 1px solid #c5c5c5;
  }
}

.facetTitle, .exploreMoreTitle {
  background: #e8e8e8;
}
