@sacramento-navy: #4D5F79;
@sacramento-pine: #84B199;
@sacramento-bronze: #F1CB92;
@sacramento-taupe: #E4DFDB;
@sacramento-sage: #89A09E;

//@marmot-dark-blue: #467E99;

@home-search-top-color: @sacramento-navy;
@home-search-bottom-color: @sacramento-navy;

@header-top-color: #ffffff; //Top color for background gradient in header
@header-middle-color: #ffffff; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #ffffff; //Bottom color for background gradient in header

@library-display-name-color: @sacramento-navy;
@library-display-name-font: @font-family-sans-serif-resp;
@library-display-name-font-size: 25px;

@header-bottom-border-color: @sacramento-bronze;
@footer-top-border-color: @sacramento-taupe;

@header-buttons-background-color: @sacramento-pine;
@home-page-login-background-color: @sacramento-pine;

@btn-primary-bg: @sacramento-bronze;
@btn-primary-color: #333;

@menu-bar-background-color: @sacramento-pine;
@menu-bar-selected-background-color: @sacramento-bronze;
@menu-bar-selected-color: @sacramento-navy;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #fff;
@browseCarouselControlColor: @sacramento-bronze;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @sacramento-sage;
@selectedSubCategoryBackgroundColor: @sacramento-sage;

// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;


//@browse-label-text-color: @marmot-dark-blue;
@browse-category-text-color: @sacramento-navy;
@selected-browse-label-search-color: @sacramento-navy;
//@browse-category-font-size: 20px;

@more-browse-results-backgroundcolor: @sacramento-bronze;
@more-browse-results-color: #FFF;

@accordion-active-header-backgroundcolor: @sacramento-navy;
//@accordion-header-bg-color: @sacramento-taupe;
@accordion-header-top-gradient-color: @accordion-header-bg-color;
@accordion-header-bottom-gradient-color: @accordion-header-bg-color;

//No rounded corners
@border-radius-base:             0;
@border-radius-large:            0;
@border-radius-small:            0;
