
@easthaddam-black: #0012b0;
@easthaddam-red: #14740c; 

@easthaddam-secondary-text-black: #222;

@header-height: 150px;
@header-logo-height: @header-height;
@header-logo-max-height: none;

@library-display-name-color: #000;

@home-search-top-color: @easthaddam-black; //Top color for background gradient in header
@home-search-bottom-color: @easthaddam-black;

//@sidebar-link-color: @lion-light-blue;
@menu-bar-background-color: @easthaddam-black;
@menu-bar-selected-background-color: @easthaddam-red;

@header-bg-color: #fff;

@header-bottom-border-color: #FFF;
@footer-top-border-color: @easthaddam-black;


@header-buttons-background-color: @easthaddam-black;

@btn-primary-bg: @easthaddam-red;

@category1MainColor: #fff;
@categoryLineColor: #fff;
@categoryLineShadow: #fff;
@selectedCategoryBorderColor: #fff;

@browseCarouselControlBackgroundColor: #fff;
@browseCarouselControlColor: @easthaddam-red;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @easthaddam-black;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


@browse-label-text-color: #000;
@browse-category-text-color: #000;
@selected-browse-label-search-color: @easthaddam-secondary-text-black;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-bg-color: @easthaddam-red;