// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

#browse-category-picker .jcarousel-control-prev, #browse-category-picker .jcarousel-control-next {
  //background-color: @green-louisville-background;
}

#header-container{
  background:@banner-longmont url("../images/banner_chevron.png") no-repeat left;
}
@media(max-width:767px){
  #header-container{
    border-bottom:none;
  }
}

  #header-logo {
    padding: 30px 10px 0 100px;
    max-width: 500px;
  }

@media (max-width: 767px) {
  #header-logo {
    max-width: 100%;
    padding: 35px 0 0 60px;
  }
}

#browse-sub-category-menu button {
  margin-bottom: 10px;
}

#horizontal-search-box #lookfor {
  height: 34px!important;
}

.header-button{
  background: @medium-gray-longmont!important;
  border-radius:50px;
  height: 65px;
  border:none;
  color: black!important;
  text-shadow:none;
  line-height:65px!important;
}
.header-button:hover{
  border:none;
  background: @medium-blue-longmont!important;
  color:white!important;
  font-weight:bold;
}
.header-primary{
  border:none;
  margin-top: 20px;
}

.system-message-header{background:@light-gray-longmont;}

.sidebar-links .panel-heading{
  background:#e7e7e7;
}
.panel{
  border:none;
  border-radius:0;
}

.panel-group .panel{
  border-radius:0;
}
.sidebar-links .active .panel-heading{
  background: @medium-blue-longmont;
}

.sidebar-button{
  background:@banner-longmont;
  padding: 7px 0;
}

.menu-bar{
  background:@medium-blue-longmont;
}

.jcarousel-control-prev
{
  left:18px;
}
.jcarousel-control-next{
  right:20px;
}
#vertical-menu-bar{
  background:@medium-blue-longmont;
}

#vertical-menu-bar .menu-bar-option.menu-icon-selected{
  background: @banner-longmont;
}