// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

.header-login-button-mixin; // use login button styling

// MIXIN: Vertically Align cover images with the thumbnail block; up to a maximum size.  Thumbnail blocks will have a
// uniform height and fall into columns evenly.
.verticalAlignThumbnailArt();


body {
  background-image: url('../images/evld-background.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#content-container, #content-container > .row, #footer-container .navbar,
.selected-browse-label-search {
  background-color: #fff;
}

.btn-primary, #more-browse-results {
  &:hover {
    background-color: @evld-button-hover-yellow;
  }
}

#browse-category-picker {
  .jcarousel-control-prev, .jcarousel-control-next {
    border: 1px solid #ccc;

    &:hover {
      background-color: @evld-button-hover-yellow;
    }
  }
}