//Variables Customizations for Eagle Valley theme

@content-bg: transparent;
@header-bg-color: transparent;

//@header-bottom-border-color: #FFD401;
@header-bottom-border-color: transparent;
@footer-top-border-color: #0099E5;
@footer-top-border-color: transparent;

@evld-blue: #06AAFF;
@evld-hover-blue: #0074BA;

@evld-dark-green-bg: #032D1A;
@evld-light-green-font-color: #DFF4DE;

@evld-button-light-green-bg: #EFF9EE;
@evld-button-font-color: #000;
@evld-button-hover-yellow: #FFD400;

@home-search-top-color: @evld-dark-green-bg;
@home-search-bottom-color: @evld-dark-green-bg;

@category1MainColor: @evld-hover-blue;
//@browse-category-text-color: @evld-button-font-color;
@selectedCategoryBorderColor: @evld-button-hover-yellow;

//Home Page Browse Category Carousel Controls
@browseCarouselControlBackgroundColor: @evld-button-light-green-bg;
@browseCarouselControlColor: @evld-button-font-color;

// Home Page Browse Sub-Categories
//@selectedSubCategoryFontColor: @evld-button-font-color;
//@selectedSubCategoryBackgroundColor: @category1MainColor;

//@menu-bar-background-color: @evld-button-light-green-bg;
@menu-bar-background-color: @evld-dark-green-bg;
//@menu-bar-color: @evld-button-font-color;
@menu-bar-selected-background-color: @evld-button-hover-yellow;
@menu-bar-selected-color: @evld-button-font-color;

@accordion-active-header-bg-color: @evld-hover-blue;

@btn-primary-bg: @evld-button-light-green-bg;
@btn-primary-color: @evld-button-font-color;
@btn-primary-border: #ccc;
