// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

@font-face {
  font-family: 'Roboto', sans-serif;
}

//body {
//  font-family: 'Roboto', sans-serif;
//}

#header-logo {
  padding-top: 20px;
}

.header-button {
  border: none;
  line-height: 55px !important;
  border-radius: 35px;
  margin-top: 25px;
  background-color: @green-louisville;
  color: white !important;
  text-shadow: none;
  font-weight: bold;

  &:hover {
    border-bottom: 2px solid #f6f6f6;
    background-color: #f6f6f6;
    color: @green-louisville !important;
    text-shadow: none;
    font-weight: bold;
    text-decoration: none;
  }
}

#searchSource {
  color: @purple-louisville;
}

.browse-category {
  text-shadow: none;
  font-weight: bold;
  border-radius: 10px;

  &:hover {
    background: #f6f6f6;
  }

  > div {
    min-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.selected {
    font-size: 18px;
    background: @green-louisville !important;

    div {
      color: white !important;
    }
  }
}

#browse-label {
  display: none;
}

.jcarousel-control-next, .jcarousel-control-prev {
  box-shadow: none;
}

#browse-sub-category-menu button {
  margin-bottom: 10px;
}

.sidebar-links .panel-heading {
  background: #e7e7e7;
}

.sidebar-links .active .panel-heading {
  background: @purple-louisville;
}
