// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

#header-container {
  background-image: url('/interface/themes/englewood/images/header_background.png');
  @media (min-width: 999px) {
    background-repeat: round;
    /* background image is only 998px long */
  }
}

#header-logo {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.5em;
  margin-top: 20px;
  padding: 5px;
}

.header-login-button-mixin(rgba(255, 255, 255, 0.75), @home-page-login-color);
a .header-button {
  font-weight: bolder;

  &:hover {
    box-shadow: 2px 2px 5px darkgrey;
  }
}

//.vertical-align-library-name-header;

#main-content-with-sidebar > .row.breadcrumbs,
#home-page-browse-header {
  margin-left: 0; // to give a gap of white background between the search box and the browse category carousel
}

.nashville-selected-browse-label-search;

.hide-selected-browse-label-background;

#sacramento-browse-category(@selectedCategoryColor, @browse-category-font-size, 90px, @border-gray, @theme-primary-color);

#sacramento-browse-category-pickers(@browseCarouselControlColor, 90px, 75px);

// this controls the subcategory menu button are and menu buttons on browse
#browse-sub-category-menu {
  margin-top: 20px;

  .btn {
    padding: 6px 10px;
  }

  button {
    &.selected {
      border: 1px solid @selectedCategoryBorderColor;
    }
  }
}

.hide-browse-category-results-divider;

.searchTypeHome, .searchSource {
  color: #333;
  background-color: #fff;
}

//TODO: I think this should go into the main styling.
#refineSearch ~ #home-account-links {
  padding-top: 15px;
}

.sidebar-label {
  font-weight: bold;
}

// Vertically Align cover images with the thumbnail block; up to a maximum size.  so that the thumbnail blocks have a uniform height and fall into columns evenly
.verticalAlignThumbnailArt;

.btn-primary {
  &:hover {
    background-color: @theme-primary-color-light;
    border-color: @theme-primary-color-light;
  }
}

.panel-group,
#home-page-library-section {
  > a {
    text-decoration-color: #333333;
    color: #333333;
  }
}

.sacramento-sidebar-button;
