//Variables Customizations for Englewood theme
@header-height: 120px;

@englewood-red: #b72126;
@englewood-dark-pink:#9d2d5d;
@englewood-bright-pink:#ee3889;
@englewood-light-pink: #f38497;
@englewood-dark-orange: #d95327;
@englewood-light-orange: #e47f26;
@englewood-bright-yellow: #e3d91e;
@englewood-dark-green: #176734;
@englewood-light-green: #97c03d;
@englewood-dark-blue: #013e5a;
@englewood-light-blue: #23c1e8;
@englewood-purple: #6663ac;
@englewood-near-black: #12100e;


@home-search-top-color: transparent;
@home-search-bottom-color:transparent;
@home-search-label-color: #fff;

//@home-page-login-color: #000; // original coloring
@home-page-login-color: #fff;

@header-buttons-background-color: @englewood-light-green;

@header-bottom-border-color: @englewood-dark-blue;
@footer-top-border-color: @englewood-near-black;

@btn-primary-bg: @englewood-light-green;
@btn-primary-color: @englewood-near-black;
@btn-primary-border: @englewood-light-green;

@alert-info-bg: @englewood-bright-yellow;
@alert-info-border: @englewood-bright-yellow;

@menu-bar-background-color: @englewood-purple;
@menu-bar-selected-background-color: @englewood-dark-blue;
@menu-bar-selected-color: #fff;

@category1MainColor: #fff;
@categoryLineColor: #fff;
@categoryLineShadow: #fff;
@selectedCategoryBorderColor: @englewood-dark-green;

@jcarousel-item-border-color: #d7d7d7;
@browse-header-background-color: #fff;
@browseCarouselControlBackgroundColor: #fff;
@browseCarouselControlColor: @englewood-dark-green;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @englewood-light-green;
@selectedSubCategoryBackgroundColor: @englewood-light-green;
@selectedSubCategoryFontColor: @englewood-near-black;


@browse-label-text-color: #000;
@browse-category-text-color: #000;
@selected-browse-label-search-color: #000;
//@browse-category-font-size: 20px;

// Home Page Browse Category More Results button
@more-browse-results-bg-color: @englewood-light-green;
@more-browse-results-color: @englewood-near-black;

@accordion-header-bg-color: @englewood-purple;
@accordion-active-header-bg-color: @englewood-dark-blue;
//@accordion-header-top-gradient-color: @accordion-header-bg-color;
//@accordion-header-bottom-gradient-color: @accordion-header-bg-color;
@accordion-header-color: #fff;
@accordion-header-shadow-color: @englewood-near-black;
@accordion-active-header-color: #fff; // same as when closed;
@accordion-active-header-shadow-color: @englewood-near-black; // same as when closed;

@sidebar-label-color: #000;
@sidebar-label-background-color: #C6C6C6; // (AAA) https://webaim.org/resources/contrastchecker/?fcolor=000000&bcolor=C6C6C6
@sidebar-button-bg-color: @englewood-dark-blue;

@breadcrumb-bg: #fff;

// Search Results
@facetTitle-bg-color: @englewood-purple;
@facetTitle-color: #fff;
@availableOther-status-color: #000;
@focus-ring-color: @englewood-dark-orange;