// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

#home-page-login .loginOptions a.loginLink {
  color: #FFF;
}

#headerLoginLink div.header-button {
  color: #fff;
  font-weight: bold;
}

.header-login-button-mixin(@header-buttons-background-color, @header-buttons-color);
.header-button {
  text-transform: uppercase;
  border: 2px solid @gold;
  margin-top: 30px;

  &:hover {
    background-color: @dark-gold;
  }
}

#headerLogoutLink > .header-button {
  background-color: #fff;
  border: 1px solid @gold;

  &:hover {
    background-color: @dark-gold;
  }
}

#header-logo {
  padding-bottom: 10px;
}

//.vertical-align-library-name-header;

// Adopting Nashville styling of browse categories
#main-content-with-sidebar > .row.breadcrumbs,
#home-page-browse-header {
  margin-left: 0; // to give a gap of white background between the search box and the browse category carousel
}

.nashville-selected-browse-label-search;

.hide-selected-browse-label-background;

#sacramento-browse-category(@selectedCategoryColor, @selectedCategoryColor, @browse-category-font-size, 90px, @spl-border-gray, @selectedCategoryBorderColor);

#sacramento-browse-category-pickers(@browseCarouselControlColor, 90px, 75px);

// this controls the subcategory menu button are and menu buttons on browse
#browse-sub-category-menu {
  margin-top: 20px;

  .btn {
    padding: 6px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  button {
    &.selected {
      border: 1px solid @selectedCategoryBorderColor;
    }
  }
}

.hide-browse-category-results-divider;
.panel-title {
  font-size: 16px;
}

// Remove gradients from accordions & facets; set a white background for body content //
#account-settings-accordion, #more-details-accordion, .sidebar-links, #account-settings-accordion {
  .panel-heading {
    background: @accordion-header-bg-color;
  }

  .active .panel-heading {
    background: @accordion-active-header-backgroundcolor;
  }

  .panel, .panel-heading {
    border-radius: 0;
  }

  .panel-body {
    background-color: transparent;
    border: 1px solid #c5c5c5;
  }
}

.facetTitle, .exploreMoreTitle {
  background: @spl-other-gray;
}

.searchTypeHome, .searchSource {
  color: #333;
  background-color: #fff;
}

#more-details-accordion, #account-settings-accordion {
  .active {
    .panel-title {
      color: @accordion-active-header-color;
      text-shadow: 1px 1px #fff;
    }
  }
}

.sidebar-links {
  .panel {
    &.active {
      & > a { // keep the title's link underlining the same color as the title
        // these end up applying to content in .active div.panel-title
        &, &:visited, &:hover {
          text-shadow: 1px 1px #fff;
        }
      }
    }
  }
}

//TODO: I think this should go into the main styling.
#refineSearch ~ #home-account-links {
  padding-top: 15px;
}

.sidebar-label {
  background: @sidebar-label-background-color;
  font-weight: bold;
}

.related-manifestation-shelf-status.availableOther {
  color: #000;
  font-weight: bold;
}

// Vertically Align cover images with the thumbnail block; up to a maximum size.  so that the thumbnail blocks have a uniform height and fall into columns evenly
.verticalAlignThumbnailArt;

.btn-primary, .btn-info {
  &:hover {
    background-color: lighten(@green, 7%);
    border-color: #7BAD42;
  }
}

.panel-group,
#home-page-library-section {
  > a {
    text-decoration-color: #333333;
    color: #333333;
  }
}

.sacramento-sidebar-button;

// Return Now button.  Had bad side effects. Turned off
//.btn-warning {
//  &:hover {
//    background-color: #E9E9E9;
//    border-color:@btn-warning-border;
//  }
//}