@orange-montrose: #BC5919; // (4.58)  https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=BC5919
@dark-gray-montrose: #5E5E5D; // (6.49) https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=5E5E5D
@dark-blue-montrose: #19596B; // rgb(25, 89, 107); // (AAA) (7.82) https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=19596B

@green-montrose: #9dc893;
@spl-gray: #754b6f;
@spl-black: #000;
@gold: #d1a939;
@dark-gold: #bf963a;

@link-color-resp: #326799; // (5.44) https://webaim.org/resources/contrastchecker/?fcolor=326799&bcolor=F5F5F5

@spl-dark-purple: #38345A;

@spl-other-gray: #f0f0f0;
@spl-border-gray: #A2A1A1;

@header-height: 110px; // the min height
@header-logo-height: 49px;

@home-search-top-color: @spl-other-gray;
@home-search-bottom-color:@spl-other-gray;
@home-search-label-color: @spl-black;

@home-page-login-background-color: @orange-montrose;
@home-page-login-color: #fff;

@header-buttons-background-color: @orange-montrose;
@header-buttons-color: #fff;

//@header-bg-color: #fff;


@library-display-name-color: @spl-black;
@library-display-name-font: @font-family-sans-serif-resp;
@library-display-name-font-size: 25px;

@header-bottom-border-color: #fff;
@footer-top-border-color: @spl-gray;

@btn-primary-bg: @dark-blue-montrose;
//@btn-primary-bg: @green-montrose;
//@btn-primary-color: #333;
//@btn-primary-border: @green-montrose;

// Return Now button.  Had bad side effects. Turned off
//@btn-warning-bg: #fff;
//@btn-warning-border: @spl-border-gray;

// I suspect this is a bad idea to color these the same as primary buttons.
@btn-info-bg: @green-montrose;
@btn-info-border: @green-montrose;
@btn-info-color: #333;

@alert-info-bg: @spl-other-gray;
@alert-info-border: @spl-border-gray;

@menu-bar-background-color: @spl-gray;
@menu-bar-selected-background-color: @dark-blue-montrose;
//@menu-bar-selected-color: #fff;

@category1MainColor: #fff;
@categoryLineColor: #fff;
@categoryLineShadow: #fff;
@selectedCategoryBorderColor: @green-montrose;

//@jcarousel-item-border-color: #d7d7d7; // gets overridden by #sacramento-browse-category() mixin
@browse-header-background-color: @spl-other-gray;
@browseCarouselControlBackgroundColor: #fff;
@browseCarouselControlColor: @green-montrose;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @green-montrose;
@selectedSubCategoryBackgroundColor: @green-montrose;
@selectedSubCategoryFontColor: #333;


@browse-label-text-color: @spl-black;
@browse-category-text-color: @spl-black;
@selected-browse-label-search-color: @spl-black;
//@browse-category-font-size: 20px;

// More browse results buttons
@more-browse-results-bg-color: @green-montrose;
@more-browse-results-color: #fff;

@accordion-header-bg-color: @spl-other-gray;
@accordion-active-header-bg-color: @accordion-header-bg-color;
//@accordion-header-top-gradient-color: @accordion-header-bg-color;
//@accordion-header-bottom-gradient-color: @accordion-header-bg-color;
@accordion-active-header-color: @gray-dark; // same as when closed;
@accordion-active-header-shadow-color: #fff; // same as when closed;

//No rounded corners
@border-radius-base:             0;
@border-radius-large:            0;
@border-radius-small:            0;

@sidebar-label-color: #000;
@sidebar-label-background-color: #C6C6C6; // (AAA) https://webaim.org/resources/contrastchecker/?fcolor=000000&bcolor=C6C6C6

@breadcrumb-bg: @spl-other-gray;

// Search Results
@facetTitle-bg-color: @spl-other-gray;
@availableOther-status-color: #000;