// Variables for CMC theme

@cmc-blue: #003DA5; // https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=003DA5
@cmc-yellow: #FFC845; //( not accessible constrast against white)
@cmc-light-gray: #8e9089;

@font-family-sans-serif: Poppins, Arial, sans-serif;
@font-family-serif: Poppins, Georgia, serif;
@headings-font-family: "Poppins Bold", Poppins, @font-family-sans-serif;

@btn-primary-color: @cmc-blue;  // https://webaim.org/resources/contrastchecker/?fcolor=003DA5&bcolor=FFC845
@btn-primary-bg: @cmc-yellow;

@header-bottom-border-color: #fff;

@home-search-top-color: @cmc-blue;
@home-search-bottom-color: @cmc-blue;

@menu-bar-background-color: @cmc-blue;
@menu-bar-selected-background-color: @cmc-yellow;
@menu-bar-selected-color: @cmc-blue;

@category1MainColor: @cmc-blue;
@selectedCategoryBorderColor: @cmc-yellow;

//@jcarousel-item-border-color: #d7d7d7;
@browseCarouselControlBackgroundColor: #fff;
@browseCarouselControlColor: @cmc-blue;
@selectedSubCategoryBackgroundColor: @cmc-yellow;
@selectedSubCategoryFontColor: @cmc-blue;


@accordion-active-header-bg-color: @cmc-yellow;
@accordion-active-header-color: @cmc-blue;
@accordion-active-header-shadow-color: #ddd;

