// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

.facetTitle, .exploreMoreTitle {
  &:hover {
    background-color: @wilkinson-dark-blue;
    background: -moz-linear-gradient(left center, darken(#d81f3c, 15%) 0%, @wilkinson-dark-blue 100%);
    color: #fff;
    text-shadow: none;
  }
}

.header-login-button-mixin(@wilkinson-dark-blue);

a .header-button {
  font-weight: bold;
}

#browse-category-carousel .browse-category.selected {
  background: @wilkinson-light-blue;
}


.btn.btn-primary {
  //background-color: @wilkinson-red;
  border: none;
}
.sidebar-links .panel-heading {
  //background-image: none;
  //background-color: @wilkinson-dark-blue;
  background: @wilkinson-dark-blue;
  color: white;
  text-shadow: none;
}

.sidebar-button {
  padding: 5px 15px;
  background-color: @wilkinson-dark-blue;
  background-image: none;
  color: #fff;
  margin-bottom: 15px;
  border-radius: 4px;
}

.panel a:hover {
  text-decoration: underline #fff;
}

// prevent overrides from applying to the object editor form system
.panel-default:not(.active) .panel-title {
  color: inherit;
  text-shadow: none;
}