@lion-light-blue: #9dd1f2;
@lion-dark-blue: #130840;
@lion-menu-blue: #74C1F2;


//Variables Customizations for Salida theme
@header-bg-color: #fff;
@footer-top-border-color: #333333;
@header-height: 150px;

@header_image : url('/interface/themes/westhaven/images/header_background.png');



@btn-primary-bg: @lion-dark-blue;

// with logo with white text
@header-buttons-background-color : rgba(51,51,51,0.7);


@westhaven-light-gray: #FAFAFA;
@westhaven-medium-gray-button-color: #aaa;
@westhaven-light-blue-search-button-color: #DDE8F4;
@westhaven-main-font-color: #000;

//@brand-primary: @westhaven-light-blue-search-button-color;

@header-bottom-border-color: @westhaven-medium-gray-button-color;
@footer-top-border-color: @westhaven-medium-gray-button-color;


@home-search-top-color: #fff; //Top color for background gradient in header
@home-search-bottom-color: #fff; //Bottom color for background gradient in header
@home-search-label-color: @westhaven-main-font-color;

// Sidebar Login Section
@home-page-login-color: @westhaven-main-font-color;
@home-page-login-background-color: #fff;



//Accordions
@accordion-active-header-bg-color: #fff;
@accordion-active-header-color: @westhaven-main-font-color;
@accordion-active-header-shadow-color: #fff;

@accordion-header-bg-color: @westhaven-light-gray;
@accordion-header-top-gradient-color: @westhaven-light-gray;
@accordion-header-bottom-gradient-color: @westhaven-light-gray;

@category1MainColor: #fff;
@categoryLineColor: #fff;
@categoryLineShadow: #fff;
@selectedCategoryBorderColor: #fff;


@browseCarouselControlBackgroundColor: #fff;
@browseCarouselControlColor: @lion-dark-blue;
//@category2MainColor: @category1MainColor;
//@category3MainColor: @category1MainColor;
//@category4MainColor: @category1MainColor;
//@category5MainColor: @category1MainColor;
//@category6MainColor: @category1MainColor;
//@category7MainColor: @category1MainColor;
//@category8MainColor: @category1MainColor;
//@category9MainColor: @category1MainColor;
@selectedCategoryBorderColor: @westhaven-main-font-color;

//Home Page Browse Category labels
//@home-page-browse-content-background-color: @content-bg;
@browse-label-text-color: @westhaven-main-font-color;
@browse-label-line-color: @westhaven-medium-gray-button-color;
@selected-browse-label-search-color: @westhaven-main-font-color;
@browse-category-font-size: 30px;


// Selected Category color to give a highlighted appearance
@selectedCategoryBorderColor: #000;
@selectedCategoryColor: @westhaven-main-font-color;
//@selectedSubCategoryBackgroundColor: @selectedCategoryColor;
@selectedSubCategoryFontColor: @lion-dark-blue;

//Menu Bar Variables
@menu-bar-background-color: #5F5F5F; // https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=5F5F5F
//@menu-bar-color: #fff;  (#fff; is default color)
@vertical-menu-bar-width: 40px;
@menu-bar-selected-background-color: @lion-dark-blue;
@menu-bar-selected-color: #ff;
