// Variables Customizations for CMU theme
@cmu-maroon: #860037;

@cmu-accent-yellow: #ffd200;
@cmu-text-color-for-yellow: #262e2f;

//@header-bg-color: #fff;
//@header-bottom-border-color: #8C7F70;
//@header-bottom-border-color: #fff;
@header-bottom-border-width: 0;
@footer-top-border-color: #333;
@header-height: 130px;

@home-search-top-color: @cmu-maroon; //Top color for background gradient in header
@home-search-bottom-color: @cmu-maroon; //Bottom color for background gradient in header

@menu-bar-background-color: @cmu-maroon;
@menu-bar-selected-background-color: @cmu-accent-yellow;
@menu-bar-selected-color: @cmu-text-color-for-yellow;

@btn-primary-bg: @cmu-accent-yellow;
@btn-primary-color: @cmu-text-color-for-yellow;

@category1MainColor: @cmu-maroon;
@selectedCategoryBorderColor: @cmu-accent-yellow;

@selectedSubCategoryBackgroundColor: @cmu-accent-yellow;
@selectedSubCategoryFontColor: @cmu-text-color-for-yellow;

@accordion-active-header-bg-color: @cmu-maroon;