//Variables Customizations for Buena Vista theme
//@header-top-color: #FFFFFF; //Top color for background gradient in header
//@header-middle-color: #FBFAFF; //middle color for background gradient in header @80% of header height from bottom
//@header-bottom-color: #81ACD4; //Bottom color for background gradient in header
//@header-bottom-color: #FFFFFF; //Bottom color for background gradient in header

@bvOrange: rgb(250,164,28);
@bvDarkBlue: #00384C;
@bvTeal: #036482;

@header-bottom-border-color: #fff;
@footer-top-border-color: @bvDarkBlue;
@header-height: 100px;

//@header-button-height: 35px;

@home-search-top-color: @bvDarkBlue; //Top color for background gradient in header
@home-search-bottom-color: @bvDarkBlue;

@category1MainColor: @bvTeal;
@selectedCategoryBorderColor: @bvOrange;
@selectedSubCategoryBackgroundColor: @bvOrange;
@selectedSubCategoryFontColor: @bvDarkBlue;

@browseCarouselControlBackgroundColor: #fff;
@browseCarouselControlColor: @bvOrange;

@more-browse-results-bg-color: @bvOrange;
@more-browse-results-color: @bvDarkBlue;


//@menu-bar-background-color: @home-search-bottom-color;
@menu-bar-background-color: @bvTeal;
@menu-bar-selected-background-color: @bvOrange;
@menu-bar-selected-color: @bvDarkBlue;

@btn-primary-bg: @bvOrange;
@btn-primary-color: @bvDarkBlue;

@accordion-active-header-bg-color: @bvTeal;