
// From Logos
@summit-accent: #D35E13;
@summit-brand: #0A5D66;
@summit-light-brand: #84D1D9;

// taken from website
@summit-gray: #f0f0f0;
@breadcrumb-bg: white;
// Header
@header-height: 120px;
@header-bg-color: #fff;
@header-buttons-background-color: @summit-light-brand;
@home-page-login-background-color: @summit-brand;

@header-bottom-border-color: @summit-brand;
@footer-top-border-color: @summit-accent;
@header-bg-color: @summit-brand;

@home-search-top-color: @summit-gray;
@home-search-bottom-color: @home-search-top-color;
//@home-search-bottom-color: @summit-blue;
@menu-bar-background-color: @summit-brand;
@menu-bar-selected-background-color: @summit-gray;
@menu-bar-selected-color: #000;  // (14.25:1) https://webaim.org/resources/contrastchecker/?fcolor=000000&bcolor=CDD6DD

// Browse Category Colors
@browse-category-text-color: @summit-brand;

@category1MainColor: white;
@categoryLineColor: @summit-light-brand;
@categoryLineShadow: @summit-gray;
@selectedCategoryBorderColor: @summit-light-brand;
@selectedCategoryColor: @summit-brand;
@selectedSubCategoryBackgroundColor: @summit-light-brand;
@selectedSubCategoryFontColor: black;

@browse-header-background-color: white;
@browseCarouselControlBackgroundColor: white;
@browseCarouselControlColor: @summit-brand;
@browseCarouselControlBorder: @summit-light-brand;

@accordion-active-header-bg-color: @summit-brand;