// Variables Customizations for Mesa County Schools theme
@header-height: 105px;
@header-bg-color: #fff;
@header-bottom-border-color: #00311A;
@footer-top-border-color: #00311A;
@home-search-top-color: #00703C;
@home-search-bottom-color: #006234;

@menu-bar-background-color: #006234;
@menu-bar-selected-background-color: lighten(#00703C, .5);
