// Core variables and mixins
@import "../../responsive/css/variables.scss";
@import "variables";

// Always include the base .scss file
@import "../../responsive/css/responsive_base.scss";

.header-login-button{
  background: $header-buttons-background-color;
}

#header-logo{
  padding: 0;
}


#browse-label {
  background-color: #ffffff;
  //  background: linear-gradient(to bottom, #fff, #fff 98%, $browse-label-text-color 99%);
  border-bottom: 1px solid $browse-label-text-color;
  margin: 25px 0 15px;
  height: auto;
  padding-bottom: 20px;
  .browse-label-text{
    font-weight: 600;
  }
}

// the category text
.browse-category {
  //padding-top: 20px; // extra padding on top to center text
  //height: 120px;

  div {
    //color: $browse-label-text-color;
    text-shadow: none;
    font-size: 18px;
    font-weight: 500;
    &:focus {
      outline: none; // hide outlining of clicked category
    }
  }
  &.selected {
    border: none;
    background: $selectedCategoryColor;
    div {
      color: #fff;
    }
  }
}

// Left/Right Arrows on browse category carousel
#browse-category-picker {
  .jcarousel-control-prev, .jcarousel-control-next {
    background-color: $content-bg;
    color: $browseCarouselControlColor;
    &:active, &:hover {
      color: $selectedCategoryColor;
      text-decoration: none;
    }
    @include box-shadow(none);
    font-size: 20px;
  }
  a {
    &.jcarousel-control-next:after {
      content: "▶";
    }
    &.jcarousel-control-prev:before {
      content: "◀";
    }
  }
  // indicator dots at bottom of browse category carousel
  .jcarousel-pagination a {
    &.active {
      background: $browseCarouselControlColor;
      // keep shadowing in place on active item
      @include box-shadow(0 0 2px #4E443C);
    }

    .allLinkStates{
      outline:none;
    }
  }
}

#selected-browse-label {
  color: $loveland-dark-blue;
  background: none; //override line through label
  padding: 20px 0;
  border-top: 1px solid $browse-label-text-color;
}

.selected-browse-label-search {
  background: none;
}

#selected-browse-search-link{
  text-transform: uppercase;
}

#browse-sub-category-menu {
  button.selected {
    background-color: $selectedCategoryColor;
  }
}
.sidebar-links .panel-heading{
  background:#e7e7e7;
}
.panel{
  border:none;
  border-radius:0;
}

.panel-group .panel{
  border-radius:0;
}
.sidebar-links .active .panel-heading{
  background: $loveland-dark-blue;
}

.sidebar-button{
  background:$loveland-dark-blue;
  padding: 5px 0;
}

.menu-bar{
  background:$loveland-green;
}
#horizontal-search-box #lookfor {
  height: 34px!important;
}

#browse-sub-category-menu button{
  margin-bottom:10px;
}
#vertical-menu-bar{
  background: $loveland-green;
}
#vertical-menu-bar .menu-bar-option.menu-icon-selected{
  background: $loveland-brown;
}