//Titles, Symbols, basic design elements:
$loveland-blue: #2E85C7;
$loveland-green: #77A240;
$loveland-brown: #603A17;
//for emphasis:
$loveland-orange: #DD8626;
$loveland-dark-blue: #003149;
//for text:
$loveland-text-black: #080A11;

$home-search-top-color: $loveland-green; //Top color for background gradient in header
$home-search-bottom-color: $loveland-green;

$sidebar-link-color: $loveland-dark-blue;
$menu-bar-background-color: $loveland-blue;
$menu-bar-selected-background-color: $loveland-dark-blue;

$header-top-color: #ffffff; //Top color for background gradient in header
$header-middle-color: #ffffff; //middle color for background gradient in header $80% of header height from bottom
$header-bottom-color: #ffffff; //Bottom color for background gradient in header

//$header-top-color: #ffc28e; //Top color for background gradient in header
//$header-middle-color: lighten(#ffc28e, 50%); //middle color for background gradient in header $80% of header height from bottom
//$header-bottom-color: #ffffff; //Bottom color for background gradient in header

$header-bottom-border-color: $loveland-green;
$footer-top-border-color: $loveland-green;

$header-buttons-background-color : $loveland-green;

$btn-primary-bg: $loveland-brown;

$category1MainColor: #ffffff;
$categoryLineColor: #ffffff;
$categoryLineShadow: #ffffff;
$selectedCategoryBorderColor: #ffffff;

$browse-header-background-color: #ffffff;
$browseCarouselControlBackgroundColor: #ffffff;
$browseCarouselControlColor: $loveland-orange;

// Selected Category color to give a highlighted appearance
$selectedCategoryColor: $loveland-green;
$selectedSubCategoryBackgroundColor: $selectedCategoryColor;


// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
$category2MainColor: $category1MainColor;
$category3MainColor: $category1MainColor;
$category4MainColor: $category1MainColor;
$category5MainColor: $category1MainColor;
$category6MainColor: $category1MainColor;
$category7MainColor: $category1MainColor;
$category8MainColor: $category1MainColor;
$category9MainColor: $category1MainColor;

$browse-label-text-color: $loveland-text-black;
$browse-category-text-color: $loveland-text-black;
$selected-browse-label-search-color: $loveland-text-black;
$browse-category-font-size: 30px;

// set opened accordions color
$accordion-active-header-backgroundcolor: $loveland-dark-blue;