// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

// Can't find an element with this id.
//#header-container-header {
//  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
//  color: @green-boulder;
//  white-space: nowrap;
//  //padding-left: 175px;
//  padding-top: 40px;
//}

.header-login-button-mixin(#fff, #333);
a .header-button {
  border: 1px solid #ccc;

  &:hover {
    font-weight: normal;
    color: #333;
    background-color: #ebebeb;
    border-bottom: 3px solid #adadad;
  }
}

// Header Links
// (mimics homepage menu bar)
#header-links {
  background: @green-boulder;
  border-bottom: 1px dotted #111;

  .header-link-wrapper {
    border: none;
    padding: 15px;

    a {
      color: white;
      font-size: 18.66px;
    }

    &:hover {
      background-color: #fff;
      a {
        color: #161616;
      }
    }
  }
}


// Search Boxes
.searchTypeHome {
  background-color: #fff;
  color: #000;
}

#horizontal-search-box {
  background: @green-boulder;
}

#home-page-search {
 padding: 48px 0 47px;
}

// Browse Categories & carousels
//#browse-label {
//  height: 0;
//  margin-top: 10px;
//  margin-bottom: 0;
//}

.browse-category {
  border-radius: 10px;
}

.browse-category.category0,
.browse-category.category1,
.browse-category.category2,
.browse-category.category3,
.browse-category.category4,
.browse-category.category5,
.browse-category.category6,
.browse-category.category7,
.browse-category.category8,
.browse-category.category9 {
  background: @blue-boulder;
}
